$containerWidth: 1300px;

// Common colors
$primaryColor: #141414;
$grayColor: #838c9e;

// Blue theme colors (default)
$patternDarkColor: #0a305e;
$patternPrimaryColor: #1c4370;
$patternSecondaryColor: #204c80;
$patternLinkColor: #1363c1;
$patternLightColor: #6fb8ed;
$patternLabelColor: #f2c94c;

// Green theme colors
$patternDarkColorGreenTheme: #226158;
$patternPrimaryColorGreenTheme: #2f665e;
$patternSecondaryColorGreenTheme: #36746a;
$patternLinkColorGreenTheme: #07907a;
$patternLightColorGreenTheme: #edbb6f;
$patternLabelColorGreenTheme: #d9b08a;

// Brown theme colors
$patternDarkColorBrownTheme: #90887d;
$patternPrimaryColorBrownTheme: #8e8880;
$patternSecondaryColorBrownTheme: #a29c94;
$patternLinkColorBrownTheme: #908474;
$patternLightColorBrownTheme: #cf8c7d;
$patternLabelColorBrownTheme: #cdc2b3;
