* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

input,
textarea,
button {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding-left: 40px;
}
