p {
  margin-top: 14px;
}

.body {
  font-family: 'RalewayRegular', sans-serif;
  font-size: 18px;

  &--stretch-height {
    display: flex;
    flex-direction: column;

    .global-wrap {
      flex: 1 0 auto;
    }

    footer {
      flex: 0 0 auto;
    }
  }

  &--special-version {
    filter: grayscale(1);
  }

  @include break960 { font-size: 17px; }

  @include break720 { font-size: 16px; }

  @include break540 { font-size: 15px; }
}

.container {
  width: $containerWidth;
  margin: 0 auto;
  padding: 0 10px;

  @include break1280 { width: 1160px; }

  @include break1140 { width: 980px; }

  @include break960 { width: 740px; }

  @include break720 { width: 560px; }

  @include break540 { width: 100%; }

  &--admin-title {
    width: 984px;
    padding: 40px 0 0;

    @include break1280 { width: 984px; }

    @include break1140 { width: 984px; }

    @include break960 { width: 984px; }

    @include break720 { width: 984px; }

    @include break540 { width: 984px; }
  }

  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}

.clearfix {
  clear: both;
}

.disable-link {
  cursor: default;
  pointer-events: none;
}

.title {
  font-family: 'RalewayBold', sans-serif;
  font-size: 48px;
  line-height: 1.15;

  &--with-additional-btns {
    width: 1160px;

    @include break1280 {
      width: 1040px;
    }

    @include break1140 {
      width: 890px;
    }

    @include break960 {
      width: 100%;
    }
  }

  @include break1280 {
    font-size: 44px;
  }

  @include break960 {
    font-size: 34px;
  }

  @include break720 { font-size: 26px; }

  @include break540 { font-size: 24px; }

  @include break320 { font-size: 20px; }
}

.subtitle-5 {
  margin-top: 20px;
  font-family: 'RalewayBold', sans-serif;
  font-size: 42px;
  line-height: 1.15;

  @include break960 { font-size: 36px; }

  @include break720 { font-size: 24px; }

  @include break540 { font-size: 20px; }

  @include break320 { font-size: 18px; }
}

.subtitle-4 {
  margin-top: 40px;
  font-family: 'RalewayBold', sans-serif;
  font-size: 38px;
  line-height: 1.15;

  @include break1140 { font-size: 34px; }

  @include break960 { font-size: 30px; }

  @include break720 {
    margin-top: 30px;
    font-size: 20px;
  }

  @include break540 { font-size: 18px; }

  @include break320 { font-size: 16px; }
}

.subtitle-3 {
  margin-top: 20px;
  font-family: 'RalewayBold', sans-serif;
  font-size: 36px;
  line-height: 1.15;

  @include break1140 { font-size: 32px; }

  @include break960 { font-size: 32px; }

  @include break720 { font-size: 26px; }

  @include break540 { font-size: 24px; }

  @include break320 { font-size: 18px; }
}

.subtitle-2 {
  margin-top: 20px;
  font-family: 'RalewayBold', sans-serif;
  font-size: 24px;
  line-height: 1.15;

  @include break1140 { font-size: 20px; }

  @include break540 { font-size: 19px; }

  @include break320 { font-size: 16px; }
}

.subtitle-1 {
  margin-top: 20px;
  font-family: 'RalewayBold', sans-serif;
  font-size: 18px;
  line-height: 1.15;

  @include break1140 { font-size: 17px; }

  @include break540 { font-size: 16px; }
}

.body-4 {
  font-family: 'RalewayRegular', sans-serif;
  font-size: 22px;
  line-height: 1.15;

  @include break1140 { font-size: 21px; }

  @include break960 { font-size: 20px; }

  @include break720 { font-size: 19px; }

  @include break540 { font-size: 16px; }
}

.body-3 {
  font-family: 'RalewayRegular', sans-serif;
  font-size: 18px;
  line-height: 1.15;

  @include break960 { font-size: 17px; }

  @include break720 { font-size: 16px; }

  @include break540 { font-size: 14px; }
}

.body-2 {
  font-family: 'RalewayMedium', sans-serif;
  font-size: 16px;
  line-height: 1.15;

  @include break960 { font-size: 15px; }

  @include break540 { font-size: 14px; }
}

.body-1 {
  font-family: 'RalewayMedium', sans-serif;
  font-size: 14px;
  line-height: 1.15;

  @include break960 { font-size: 13px; }

  @include break540 { font-size: 12px; }
}

.label-2 {
  font-family: 'IMBPlexSansMedium', sans-serif;
  font-size: 18px;
  line-height: 1.15;

  @include break960 { font-size: 17px; }

  @include break540 { font-size: 15px; }
}

.label-1 {
  font-family: 'IMBPlexSansBold', sans-serif;
  font-size: 15px;
  line-height: 1.15;

  @include break960 { font-size: 14px; }

  @include break540 { font-size: 13px; }
}

.mono-text {
  font-family: 'PTMonoRegular', sans-serif;
  font-size: 15px;
  line-height: 1.15;

  @include break960 { font-size: 14px; }

  @include break540 { font-size: 13px; }
}

blockquote {
  position: relative;
  margin: 30px 0 0;
  padding: 0 30px 0 60px;
  border-left: 10px solid #f5f2f0;
  font-family: 'LoraItalic', sans-serif;
  font-size: 18px;
  line-height: 1.3;

  @include break960 { font-size: 16px; }

  @include break540 { font-size: 14px; }

  &::before {
    content: '“';
    display: block;
    position: absolute;
    top: 0;
    left: 25px;
    font-family: 'LoraBold', sans-serif;
    font-size: 36px;
    line-height: 1;
  }

  &::after {
    content: '”';
    display: block;
    position: absolute;
    right: 0;
    bottom: -19px;
    font-family: 'LoraBold', sans-serif;
    font-size: 36px;
    line-height: 1;
  }
}

h2 {
  font-family: 'RalewayBold', sans-serif;
  font-size: 42px;
  line-height: 1.15;

  @include break960 { font-size: 36px; }

  @include break720 { font-size: 24px; }

  @include break540 { font-size: 20px; }

  @include break320 { font-size: 18px; }
}

h3 {
  font-family: 'RalewayBold', sans-serif;
  font-size: 38px;
  line-height: 1.15;

  @include break1140 { font-size: 34px; }

  @include break960 { font-size: 30px; }

  @include break720 { font-size: 20px; }

  @include break540 { font-size: 18px; }

  @include break320 { font-size: 16px; }
}

h4 {
  font-family: 'RalewayBold', sans-serif;
  font-size: 32px;
  line-height: 1.15;

  @include break1140 { font-size: 30px; }

  @include break960 { font-size: 26px; }

  @include break720 { font-size: 19px; }

  @include break540 { font-size: 16px; }

  @include break320 { font-size: 15px; }
}

h5 {
  font-family: 'RalewayBold', sans-serif;
  font-size: 24px;
  line-height: 1.15;

  @include break1140 { font-size: 20px; }

  @include break720 { font-size: 17px; }

  @include break540 { font-size: 16px; }

  @include break320 { font-size: 15px; }
}

h6 {
  font-family: 'RalewayBold', sans-serif;
  font-size: 18px;
  line-height: 1.15;

  @include break1140 { font-size: 17px; }

  @include break720 { font-size: 16px; }

  @include break540 { font-size: 15px; }
}

.wrap-table {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  font-size: 14px;

  td {
    padding: 10px;
    border: 1px solid #eaecf0;
  }
}

video {
  width: 100%;
  margin-bottom: 20px;
}
