@mixin centered($axis: 'both') {
  position: absolute;

  @if $axis == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == 'x' {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $axis == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
}

/** Flex Layout start **/
%flex-layout {
  display: flex;
}

%flex-wrap {
  flex-wrap: wrap;
}

%flex-layout-column {
  flex-direction: column;
}

%layout-row-wrap-start {
  @extend %flex-layout;
  @extend %flex-wrap;

  align-items: flex-start;
  justify-content: flex-start;
}

%layout-row-start {
  @extend %flex-layout;
}

%layout-row-start-center {
  @extend %flex-layout;

  align-items: center;
  justify-content: flex-start;
}

%layout-row-center {
  @extend %flex-layout;

  align-items: center;
  justify-content: center;
}

%layout-row-wrap-center {
  @extend %layout-row-center;
  @extend %flex-wrap;
}

%layout-row-sb-center {
  @extend %flex-layout;

  align-items: center;
  justify-content: space-between;
}

%layout-row-sb-start {
  @extend %flex-layout;

  align-items: flex-start;
  justify-content: space-between;
}

%layout-row-end-center {
  @extend %flex-layout;

  align-items: center;
  justify-content: flex-end;
}

%layout-column-start {
  @extend %flex-layout;
  @extend %flex-layout-column;

  align-items: start;
  justify-content: start;
}

%layout-column-start-center {
  @extend %flex-layout;
  @extend %flex-layout-column;

  align-items: center;
  justify-content: start;
}

%layout-column-center {
  @extend %flex-layout;
  @extend %flex-layout-column;

  align-items: center;
  justify-content: center;
}

/** Flex Layout end **/

%stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%pseudo {
  content: '';
  display: block;
  position: absolute;
}

%marker {
  @extend %pseudo;

  z-index: -1;
  top: 6px;
  width: 100%;
  height: 9px;
}

%cube {
  @extend %pseudo;

  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
}

%grayscale {
  filter: grayscale(100%);
}

%reset-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

/** spec version **/

@mixin specVersion {
  @media print {
    @content;
  }
}

/** end spec version **/

/** resolution breakpoints **/

@mixin break1640 {
  @media (max-width: 1640px) {
    @content;
  }
}

@mixin break1490 {
  @media (max-width: 1490px) {
    @content;
  }
}

@mixin break1280 {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin break1140 {
  @media (max-width: 1160px) {
    @content;
  }
}

@mixin break960 {
  @media (max-width: 980px) {
    @content;
  }
}

@mixin break720 {
  @media (max-width: 740px) {
    @content;
  }
}

@mixin break540 {
  @media (max-width: 560px) {
    @content;
  }
}

@mixin break320 {
  @media (max-width: 340px) {
    @content;
  }
}

/** resolution breakpoints end **/

@mixin maxWidth($resolution) {
  @media (max-width: #{$resolution}px) {
    @content;
  }
}

@mixin minWidth($resolution) {
  @media (min-width: #{$resolution}px) {
    @content;
  }
}

@mixin range($minResolution, $maxResolution) {
  @media (min-width: #{$minResolution}px) and (max-width: #{$maxResolution}px) {
    @content;
  }
}
