.contentblock_page-list-editor .titles-form-inputs {
  background: #00537a;
  padding: 10px;
  color: #ffffff;
}
.contentblock_page-list-editor .contentblock_title_add-new {
  margin-top: 30px;
}
.form_page-list-editor {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.form_page-list-editor .form__inputs {
  width: 88%;
  vertical-align: top;
}
.form_page-list-editor .form__inputs.form__inputs_flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.form_page-list-editor .form__inputs input {
  box-sizing: border-box;
}
.form_page-list-editor .wrap-inputs_form-authors {
  width: 49%;
}
.form_page-list-editor .form__buttons {
  width: 10%;
  vertical-align: top;
  text-align: right;
  font-size: 0;
  margin-top: 20px;
}
.form_page-list-editor .form__buttons .link_delete-item {
  text-decoration: none;
}
.form_page-list-editor .form__buttons .link_delete-item .btn {
  margin-right: 0;
}
.form_page-list-editor .form__buttons .btn {
  margin-right: 6px;
  height: 34px;
  width: 34px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.form_page-list-editor .form-control {
  margin-top: 20px;
}
.form_page-list-editor .styler_select-units {
  width: 100%;
  margin-top: 20px;
}
.form_page-list-editor .styler_btn-add-new {
  margin-top: 20px;
}
.form_list-authors {
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
}
.form-group__select_author-of-material {
  width: 100%;
}
.warning-edit-form {
  padding: 60px 40px;
  text-align: center;
  height: 110px;
}
.warning-edit-form__message {
  margin-bottom: 27px;
  font-size: 16px;
  font-family: helveticaneuecyrbold, sans-serif;
}
.warning-edit-form__btn-save {
  margin-right: 20px;
}
.warning-edit-form__btn-save .glyphicon {
  margin-right: 6px;
}
.addfileform__btn_add-more {
  vertical-align: top;
  margin-top: 3px;
  margin-left: 5px;
  height: 32px;
}
.add-file-form__response-message {
  padding: 14px 0 14px 8px;
  font-family: helveticaneuecyrbold, sans-serif;
  background-color: yellow;
}
.add-file-form__response-message_success {
  color: green;
}
.add-file-form__response-message_fail {
  color: red;
}
.input-row {
  margin-top: 14px;
}
.statistic-table {
  margin-top: 20px;
}
.confirm-dialog {
  display: none;
  position: absolute;
  z-index: 300;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.confirm-dialog--active {
  display: flex;
}
.confirm-dialog__text {
  font-size: 20px;
  font-family: helveticaneuecyrbold, sans-serif;
}
.confirm-dialog__text--success {
  color: green;
}
.confirm-dialog__wrap-btns {
  margin-top: 30px;
}
.confirm-dialog__btn-yes {
  margin-right: 20px;
  min-width: 90px;
}
.confirm-dialog__btn-not {
  min-width: 90px;
}
