.content-block__text-without-title-page {
  padding: 0 30px 30px;
  width: 924px;
  min-height: 300px;
  background: #ffffff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  z-index: 1;
}
.standart_shablons__search .search-results .category-filter .category {
  margin-bottom: 6px;
}
#search-form .field .searchtext-field {
  width: 600px;
}
#search-form .field .dropdown {
  text-align: right;
  width: 259px;
}
#search-form .field .dropdown .jq-selectbox__dropdown {
  text-align: left;
}
.print {
  line-height: 1;
  left: 766px;
  width: 190px;
}
.print a {
  background: rgba(255,255,255,0.6);
  padding: 4px 6px;
}
.breadcrumbs .activity-buttons > a.printout {
  width: 90px;
}
body.xprint .header {
  height: 112px;
}
.dropdown-list {
  overflow: hidden;
}
.dropdown-list_parent >.material-type-columns .material-type-columns__item_opener {
  cursor: pointer;
}
.dropdown-list_parent >.material-type-columns .material-type-columns__item_opener:hover:before {
  color: #438bda;
}
.dropdown-list_parent >.material-type-columns .material-type-columns__item_opener:before {
  content: ">";
  font-family: "helveticaneuecyrbold", sans-serif;
  font-size: 20px;
  margin-left: 6px;
  display: inline-block;
  transition: transform .2s;
}
.dropdown-list_parent >.dropdown-list {
  height: 0;
  opacity: 0;
  transition: opacity .2s linear;
}
.dropdown-list_parent-open >.material-type-columns {
  background: #d8d8d8;
}
.dropdown-list_parent-open >.material-type-columns:hover {
  background: #d8d8d8;
}
.dropdown-list_parent-open >.material-type-columns .material-type-columns__item_opener:before {
  transform: rotate(90deg);
}
.dropdown-list_parent-open >.dropdown-list {
  height: auto;
  opacity: 1;
}
.material-type-columns {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}
.material-type-columns:hover {
  background: #efefef;
}
.material-type-columns_captions {
  color: #FFFFFF;
  background: #438bda;
  font-size: 12px;
}
.material-type-columns_captions:hover {
  background: #438bda;
}
.material-type-columns_captions .material-type-columns__item_opener:before {
  display: none;
}
.material-type-columns__item {
  box-sizing: border-box;
  padding: 8px;
}
.material-type-columns__item a {
  text-decoration: none;
}
.material-type-columns__item_opener {
  width: 37px;
}
.material-type-columns__item_number {
  width: 37px;
}
.material-type-columns__item_char-id {
  width: 153px;
}
.material-type-columns__item_name {
  width: 219px;
}
.material-type-columns__item_name-en {
  width: 136px;
}
.material-type-columns__item_parent-type-id {
  width: 141px;
}
.material-type-columns__item_nesting {
  width: 92px;
}
.material-type-columns__item_weight {
  width: 43px;
}
.material-type-columns__item_actions {
  width: 70px;
}
.hiddenModals {
  display: none;
}
.wrap-input label,
.wrap-input input,
.wrap-input select,
.wrap-input textarea {
  width: 100%;
  box-sizing: border-box;
}
.wrap-input input,
.wrap-input textarea {
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  padding: 7px;
  font-family: "Helvetica Neue", sans-serif;
  outline: none;
}
.wrap-input_form-regulations-search {
  margin-top: 14px;
}
.wrap-input_form-regulations-search:first-child {
  margin-top: 0;
}
.form-regulations-search .jq-selectbox__select {
  padding: 8px 0;
}
.form-regulations-search .jq-selectbox__select .jq-selectbox__select-text {
  border-bottom: none;
  text-align: left;
  min-width: 100%;
  line-height: 1;
  overflow: visible;
}
.form-regulations-search .jq-selectbox__dropdown ul li {
  width: 600px;
}
.form-regulations-search__search-text-input input {
  height: 34px;
  font-size: 16px;
}
.form-regulations-search__submit-btn {
  margin-top: 26px;
  min-width: 120px;
}
.material_page_wrapper .jq-selectbox__dropdown {
  min-width: 100%;
}
.table-row {
  display: flex;
  border-top: 1px solid #b0b0b0;
  line-height: 1.5;
}
.table-row:last-child {
  border-bottom: none;
}
.table-row__column {
  padding: 20px 20px;
  box-sizing: border-box;
}
.table-row__column_caption {
  padding: 10px 20px;
}
.table-row__column-subtitle {
  font-family: helveticaneuecyrbold, sans-serif;
  margin-top: 10px;
}
.table-row__column-subtitle:first-child {
  margin-top: 0;
}
.table-row_caption {
  background: #07476c;
  color: #ffffff;
  font-family: helveticaneuecyrbold, sans-serif;
}
.regulations-search-results {
  margin-top: 40px;
}
.regulations-search-results__description {
  margin-bottom: 20px;
  color: grey;
}
.regulations-search-results__column_id {
  width: 120px;
  font-size: 12px;
}
.regulations-search-results__column_info {
  width: 430px;
  font-size: 12px;
}
.regulations-search-results__column_links {
  width: 150px;
  font-size: 12px;
}
.can-be-refreshed {
  position: relative;
}
.can-be-refreshed >*:last-child.preloader {
  opacity: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  transition: .2s ease;
}
.can-be-refreshed >*:last-child.preloader .preloader__image {
  margin: auto;
  border: none;
  box-shadow: none;
}
.can-be-refreshed_refreshing >*:last-child.preloader {
  opacity: 1;
  z-index: 200;
}
.can-be-refreshed_top-preloader >*:last-child.preloader .preloader__image {
  margin-top: 15%;
}
.can-be-refreshed_bottom-preloader >*:last-child.preloader .preloader__image {
  margin-bottom: 15%;
}
.doubleblock_form-regulations-search {
  overflow: visible;
}
.content.main .jq-selectbox__dropdown ul li {
  margin-bottom: 0;
}
