.block-list-date-filter .block-date-dialog-opener {
	background: url("/blocks/list_date_filter/images/period.png") left center no-repeat;
	padding: 0px 0px 0px 24px;
}

.block-list-date-filter .block-date-dialog-opener a {
	color: #bbb;
	text-decoration: none;
	border-bottom: 1px dotted;
}
