.ajax-paginator-btn {
    display: block;
    cursor: pointer;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #ccc;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.ajax-paginator-btn:hover {
    color: rgb(0, 147, 221);
}

.ajax-paginator-btn:active {
    background-color: rgb(0, 147, 221);
    border-color: rgb(0, 147, 221);
    color: #fff;
}
