html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #003e5d;
}
a,
.red {
  color: #df5c4a;
}
a {
  text-decoration: none;
  border-bottom: 1px dotted;
}
.block-red {
  color: #fff;
  background-color: #df5c4a;
}
.main-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: table;
  background: url("/templates/khabkrai/img/404.svg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content.not-found {
  display: table-cell;
  vertical-align: middle;
}
.content.not-found .info-wrapper {
  display: inline-block;
  width: 100%;
}
.content.not-found .info {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  font-family: 'helveticaneuecyrmedium', Arial;
  font-size: 15px;
  padding-bottom: 60px;
  overflow: hidden;
}
.content.not-found h1 {
  font-family: Comic Sans MS, Arial;
  font-size: 165px;
  line-height: 1em;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
.content.not-found h2 {
  font-family: 'helveticaneuecyrbold', Arial;
  font-size: 25px;
  font-weight: normal;
}
.content.not-found .desc {
  max-width: 700px;
}
.content.not-found a.btn {
  display: inline-block;
  padding: 12px 15px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-family: 'helveticaneuecyrroman', Arial;
  font-size: 17px;
  margin-top: 10px;
  border-bottom: none;
}
.content.not-found a.btn:hover {
  background-color: #f3705e;
}
.content.not-found a.btn:active {
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.5);
  -khtml-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.5);
  -ms-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.5);
  -o-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.5);
}
.column {
  float: left;
  min-width: 200px;
}
.column a {
  display: inline-block;
  clear: both;
  margin-bottom: 2px;
}
.column a:hover,
.column a:active {
  border-bottom: 1px solid;
  color: #000;
}
