@mainmenu_height_fixed: 66px;
@container_width: 984px;
@secmenu_height: 88px;
@secmenu_height_fixed: 90px;
@secmenu_offset_top: 126px/* 29px; */;
@secmenu_vborder_size: 0;/*1px;*/
@assist_toggle_offset_right: -3px;
@assist_fontsize_offset_right: 154px;
@assist_color_offset_right: 300px;
@assist_toggle_hint_offset_right: -27px;

@nav_outline_width: 10px;
@crumbs_height: 37px;

@nav_zindex = 210;
@nav_zindex_focus = 220;
@nav_zindex_hover = 224;
@zindex_secmenu_item = 300;
@zindex_assist_hint: 350;

@font_size_small: 16px;
@font_size_small_small: 11px;

@font_size_normal: 18px;
@font_size_normal_small: 12px;

@font_size_big: 28px;
@font_size_big_small: 18px;

@secmenu_item_hpad: 6px;

@color_contrast: #000;
@color_link_contrast: #000;
@color_link_hover_contrast: #000;
@color_link_bg_focus_contrast: #DDD;
@color_dashline = #DDD;
@color_dim_contrast: #666;
@color_light_contrast: #AAA;
@color_bg_highlight_contrast: #AAA;
@color_link_focus_contrast: #FFF;
@color_content_link_focus_contrast: #FFF;
@color_content_link_bg_focus_contrast: #000;
@color_crumbs_link_focus: #FFF;
@color_crumbs_link_bg_focus: #000;

@color_nav_contrast: #FFF;
@color_nav_sub_contrast: #000;
@color_nav_bg: #0071aa;
@color_nav_bg_focus: #0071aa;
@color_nav_bg_contrast: #000;
@color_nav_focus_contrast: #000;
@color_nav_bg_focus_contrast: #FFF;
@color_nav_sub_contrast: #FFF;
@color_nav_sub_bg_contrast: #000;
@color_nav_sub_focus_contrast: #000;
@color_nav_sub_bg_focus_contrast: #FFF;
@color_nav_sub_border_contrast: orange;
@color_nav_focus_outline: orange;

@color_crumbs_bg_contrast: #FFF;
@color_crubms_contrast: #000;
@color_crumbs_focus_contrast: #FFF;
@color_crumbs_bg_focus_contrast: #000;

@color_mainmenu: rgb(14, 81, 126);
@color_mainmenu_focus: #FFF;
@color_mainmenu_bg: rgba(255,255,255,0.5);
@color_mainmenu_bg_focus: rgb(0, 113, 170);
@color_mainmenu_contrast: #000;
@color_mainmenu_bg_contrast: #FFF;
@color_mainmenu_focus_contrast: #FFF;
@color_mainmenu_bg_focus_contrast: #000;
@color_bg_outstanding_contrast: #666;

@color_special_focus_outline: rgba(255, 165, 0, 0.9);

@color_secmenu: #FFF;
@color_secmenu_sub: #000;

@color_btn_contrast: #FFF;
@color_btn_bg_contrast: #444;
@color_btn_focus_contrast: #000;
@color_btn_bg_focus_contrast: #FDFDFD;
@color_btn_border_contrast: #000;
@color_btn_border_focus_contrast: #000;

@color_border_contrast: #333;
@color_bg_contrast: #FFF;
@color_layout_border: rgb(221, 221, 221);
@color_layout_border_contrast: rgb(221, 221, 221);
@color_media_placeholder_bg: #666;
@color_nav_sub_border_highlight_contrast: orange;
@color_nav_bg_focus_anchor_contrast: #543;
@color_nav_focus_anchor_contrast: @color_bg_contrast;
@color_focus_contrast: #FFF;
@color_bg_focus_contrast: #000;
@color_nav_border_contrast: #000;

@color_ministry_border: #eee;


@color_inverted: #FFF;
@color_focus_inverted: #000;
@color_border_inverted: #FFF;
@color_bg_inverted: #000;
@color_bg_focus_inverted: #FFF;
@color_nav_focus_inverted: #000;
@color_nav_bg_focus_inverted: #FFF;
@color_layout_border_inverted: #CCC;
@color_tab_border_inverted: @color_layout_border_inverted;
@color_nav_link_bg_focus_inverted: #666;
@color_dim_inverted: #868687; /*#DDD*/

@color_btn_inverted: #FFF;
@color_btn_focus_inverted: #000;
@color_btn_border_inverted: #FFF;
@color_btn_border_focus_inverted: #000;
@color_btn_bg_inverted: #000;
@color_btn_bg_focus_inverted: @color_bg_inverted;
@color_bg_transparent_inverted: rgba(0,0,0,0.95);
@color_bg_outstanding_inverted: #666;

@color_calm: #063462;
@color_focus_calm: #9dd1ff;
@color_bg_calm: #9dd1ff;
@color_bg_focus_calm: #063462;
@color_border_calm: #063462;

@color_bg_outstanding_calm: #b5dcff;
@color_tab_border_calm: @color_layout_border_calm;
@color_dim_calm: #275482;/*#b5dcff;*/
@color_bg_transparent_calm: rgba(157,209,255,0.95);
@color_layout_border_calm: #063462;
@color_dashline_calm: @color_layout_border_calm;

@color_nav_calm: @color_focus_calm;
@color_nav_focus_calm: @color_calm;
@color_btn_focus_calm: @color_calm;
@color_nav_bg_focus_calm: @color_bg_focus_calm;
@color_nav_bg_focus_calm: @color_bg_outstanding_calm;
@color_nav_bg_calm: @color_bg_focus_calm;
@color_nav_link_bg_focus_calm: @color_bg_focus_calm;
@color_btn_border_calm: #000;
@color_border_emphasize_calm: #000;
@color_btn_border_calm: @color_border_emphasize_calm;
@color_btn_bg_focus_calm: @color_bg_calm;
