font-size: @font_size_small;

.secmenu .option,
.mainmenu .option {
  font-size: @font_size_small;
}
.material_list_name {
  font-size: @font_size_small !important;
}
a.option {
  font-size: @font_size_small_small;
}
.menu > .option {
  font-size: @font_size_small_small !important;
}
.audio-list time {
  font-size: (@font_size_small_small + @font_size_small) / 2;
}
&.button.submit,
&.new_style_link,
#ajax_paginator_btn.link-btn,
.link-btn {
  font-size: (@font_size_small + @font_size_small_small) / 2 + 1px;
}
.logo-text,
h1 {
  font-size: @font_size_small + 2px;
}
.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .news-row,
  .vacancy-row {
    .news-title {
      font-size: @font_size_small;
    }
    .news-announce {
      font-size: @font_size_small;
    }
    .news-keywords {
      font-size: @font_size_small_small;
    }
  }
}
.ministry {
  .ministry-contacts {
    font-size: @font_size_small * 6/7;
  }
}
.ministry_header {
  font-size: @font_size_small;
}

.congratulations-list-element-name a {
  font-size: @font_size;
}