@import "defines.less";

body {
	padding: 0;
	margin: 0;
	background-image: url("@{path_images}body_pattern.png");
	font-family: @font_roman, Arial;
}

.krumo-root,
.content.main .krumo-root {
	ul {
		li {
			margin-bottom: 0px;

			&:before,
			&:after {
				display: none;
			}
		}
	}
}

.underconstructionblock {
  position: absolute;
  top: 48px;
  right: 256px;
    z-index: 350;
}

.content-block .councils-element {
    line-height: 1.5;
}

.header {
	min-height: 156px;

	.nullblock.child {
		position: relative;
		width: 100%;
	}

	.logo {
		padding-top: 10px;
	}

	.logo,
	.logo img {
		width: 60px;
		height: auto;
		border: none;
		outline: none;
	}

	#act_date {
	  	right: 28px;
	}

    .subscription-block {
	  	right: 258px;
	  	.text {
		  color: #666;
		}
	}

  	#act_date,
  	.subscription-block {
	  	top: 12px;
	  	position: absolute;
		color: #000;
		font-size: @font_size_normal_small + 1px;
		text-align: right;

		p {
			margin: 0;
			padding: 0;
			margin-bottom: 4px;

			a {
				color: @color_blue_link;
				text-decoration: none;
				border-bottom: 1px dotted;
			}
		}
  	}

	.secmenu {
		top: 112px;
	}
}

.content.main {
	ul {
		list-style: none;
		list-style-image: none;

		li {
			list-style: none;
			list-style-image: none;			
			margin-bottom: 4px;
		}

		li:before {
			content: " ";
			display: inline-block;
			background: url("@{path_images}dots.jpg") 0px -24px no-repeat;
			width: 8px;
			height: 8px;
			margin-right: 8px;
		}
	}

	ol {
		margin-left: 20px;
	}
}

.hidden {
	/*opacity: 0.2;*/
	display: none;
}

.block {
	margin-bottom: 25px;
	font-family: @font_roman;

	h3 {
		font-family: @font_bold;
		font-weight: normal;
		font-size: @font_size_normal + 2px;
	}
}

.logo_text {
	font-family: @font_medium;
	font-size: @font_size_normal + @font_size_normal_small / 2;
	top: 26px;
	left: 85px;
  	width: 410px;
	text-shadow: none;
	line-height: 1.3em;
	color: #000;
}

.pseudo-radio {
	display: inline-block;
	font-size: 0;
	width: 16px;
	height: 16px;
	background: url("@{path_images}custom-radios.png") 0px -16px no-repeat;
	.border-radius(50%);
}

.pseudo-radio.checked {
	background-position: 0px 0px;
}

input.custom {
	display: none;
}

.fullwidth {
	width: 100%;
}

.main-wrapper {
	position: relative;
}

#modal-overlay,
#underconstructionbg {
	z-index: 1001; 
	width: 100%; 
	height:100%; 
	min-height: 100%; 
	overflow:hidden; 
	position: fixed; 
	top: 0; 
	left:0; 
	display: table; 	
	text-align: center;
	background: rgba(0, 31, 55, 0.53);
}

.modal,
.popup {
	width: 602px;
	min-height: 300px;
	.border-radius(2px);
	background-color: #ffffff; 	
	/*margin-top: 183px;*/
	text-align: center;
	padding: 30px;
	position: relative;
	display: inline-block;
	overflow: visible;

	a {
		color: @color_blue_link;
	}

	.popup-closer {
		position: absolute;
		display: block;
		width: 40px;
		height: 38px;
		z-index: 10;
		top: 49px;
		right: -40px;
		background-color: @color_dark_alert;
		background-image: url("@{path_images}modal_closer.jpg");
		background-position: 11px 10px;
		background-repeat: no-repeat;
		color: #fff;
		font-size: 0;
		text-indent: -9999px;
		overflow: hidden;
		border: none;
		outline: none;
		cursor: pointer;
		.box-shadow-none;
		.border-radius(0px 3px 3px 0px);
		.transition(all 0.1s ease 0.0s);
	}

	.popup-closer:hover,
	.popup-closer:active {
		background-position: 16px 10px; 
		right: -45px;
		width: 45px;
	}
}

#under-construction {
	width: 602px;
	height: 458px;
	/*vertical-align: middle; */
	/*overflow: hidden;*/

	h1 {
		color: @color_alert;
		padding: 6px 0px;
		margin: 0px;
		font-size: @font_size_normal + @font_size_normal_small - 3px;
		font-family: @font_bold;
		font-weight: normal;
	}

	h2 {
		padding: 37px 0px 0px;
		margin: 0px;
		font-size: @font_size_normal + @font_size_normal_small - 3px;
		font-family: @font_medium;
		letter-spacing: -0.01em;
		padding-left: 7px;		
	}	

	.uc-image {
		background: url("@{path_images}underconstruction.png") 0px 0px no-repeat;
		width: 405px;
		height: 168px;
		margin: 0 auto;
		margin-top: 27px;
		padding-left: 35px;
	}

	.grey {
		width: 100%;
		background: #f6f6f6;
		position: relative;
		padding: 0px 30px 51px;
		margin-left: -30px;
		margin-right: -30px;
		margin-bottom: -30px;
		.border-radius(0px 0px 2px 2px);
	}

	.message {
		font-size: @font_size_normal + 1px;
		margin-left: -28px;
		padding-top: 28px;
		letter-spacing: -0.4pt;
		line-height: 26px;
		text-indent: 4px;

		a {
			color: @color_blue_link;
			font-family: @font_bold;
			letter-spacing: 0.01em;
			text-decoration: none;
			border-bottom: 1px dotted;
		}
	}

	.hint {
		font-family: @font_roman;
		font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
		color: #858788;
		padding-top: 37px;
		letter-spacing: -0.35pt;
		margin-left: -20px;
	}
}

.kraiflag {
    height: 506px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("/templates/khabkrai/img/flag2.jpg");
}

.mainmenu {
    position: relative;
    width: 100%;
    /*height: 33px;	*/
	background-color: rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid #ddd;
	overflow: hidden;

	.menu {
	  position: relative;
	  z-index: 10;
	}

	a.option {
		height: 33px;
		display: inline-block;
		line-height: 33px;
		padding: 0 6px;
		font-size: @font_size_normal_small;
		position: relative;
		vertical-align: top;
		text-decoration: none;
		color: @color_blue_link;
		font-family: @font_medium;
	}

	a.option:hover,
	a.option.focus {
		background-color: @color_mainmenu_bg_focus;
	}

	a.option.focus {
		color: @color_mainmenu_focus;
	}

	a.option:active,
	a.option.active {
		background-color: @color_mainmenu_bg;
	}

	a.option:hover,
	a.option.focus {
	  background-color: @color_mainmenu_bg_focus;
	}

	.icons,
	.language {
		float: right;
		display: block;
	}

	.icons {
		height: 100%;
		margin-right: 15px;

		a {
			display: inline-block;
			width: 40px;
			height: 33px;
			font-size: 0;
			background-image: url("@{path_images}topmenu1_icons.png");
			background-position: 0px 0px;
			background-repeat: no-repeat;
		}

		a:hover,
		a:active,
		a.active {
			background-color: @color_blue_link;
		}

		a.bugtrack { 		background-position: -3px -4px; }
		a.search {			background-position: -50px -4px; }
		a.glasses-mode { 	background-position: -95px -4px; }

		a.bugtrack:hover,
		a.bugtrack:active,
		a.bugtrack.active {
			background-position: -3px -45px; 
		}
		a.search:hover,
		a.search:active,
		a.search.active {
			background-position: -50px -45px; 
		}
		a.glasses-mode:hover,
		a.glasses-mode:active,
		a.glasses-mode.active {
			background-position: -95px -45px; 
		}
	}

	.language {
		a {
			height: 33px;
			display: inline-block;
			line-height: 33px;
			padding: 0 10px;
			font-size: @font_size_normal_small;
			position: relative;
			vertical-align: top;		
			text-decoration: none;
			color: @color_blue_link;
			font-family: @font_medium;
		}

		a:hover,
		a:active {
			color: #fff;
			background-color: @color_blue_link;
		}		
	}
}

.secmenu {
	a.option {
		font-family: @font_roman;
		font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
		text-decoration: none;
		letter-spacing: 0.04em;
		.box-shadow-none;
		padding: 0 @secmenu_item_hpad;
	    color: @color_secmenu;
	}

	a.option:active {
	  background-color: rgb(112, 175, 207);
	  color: #fff;
	  .box-shadow-none;
	}

	a.option:hover,
	a.option.focus {
		background-color: rgb(0, 113, 170);
		color: #fff;
		.box-shadow-none;
	}

	.submenu_container,
	.submenu_container_long {
		background-color: #fff;
		border-top: 3px solid rgb(112, 175, 207);
		.box-shadow(0px 5px 5px 0px rgba(0, 0, 0, 0.2));
		max-width: 400px;

		a.option {
			display: block;
		  	color: @color_secmenu_sub;
			font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
			letter-spacing: -0.025em;
			padding: 10px 12px;
			line-height: 18px;
			height: auto;
		}

		a.option:hover,
		a.option:active {
			background-color: transparent;
			color: @color_blue_link;
			.box-shadow-none;
			height: auto;
			/* line-height: 18px; */
		}

		a.option.active {
			background: transparent;
			color: rgb(200, 200, 200);
			.box-shadow-none;
		}
	}

	.secmenu_wrapper{
     /* padding-left: 22px;*/
	  > a.active {
		position: relative;
		background: @color_menu_darkblue;
		color: #fff;

		&:after {
		  display: block;
		  position: absolute;
		  bottom: -9px;
		  left: 50%;
		  width: 23px;
		  margin-left: -11px;
		  height: 9px;
		  background: url("@{path_images}menu-corner.png") 0px -1px no-repeat;
		  content: " ";
		}
	  }
	  > a.focus {
		background-color: @color_mainmenu_bg_focus;
	  }
	}
}

.secmenu.fixed {
	position: fixed;
	width: 100%;
	z-index: 500;
	top: 0px;
	left: 0px;
	margin-top: 0px;

	.secmenu_wrapper {
		width: 984px;
		margin: 0 auto;
	}

	.submenu_container,
	.submenu_container_long {
		.box-shadow(0px 0px 15px 0px rgba(0, 0, 0, 0.2));
	}
}

#error_popup,
#callbackform,
#accreditation_form,
#od_request,
#prohibitedform,
.popup-form {
	width: 672px - (48px * 2);
	min-height: 476px - (30px * 2);
	padding: 30px 48px; 
	font-family: @font_roman;

	.icon {
		position: absolute;
		top: 0px;
		left: 50%;
		width: 78px;
		height: 73px;
		margin-left: -39px;
		background: url("@{path_images}feedback_icon.png") 0px 0px no-repeat; 
	}

	h2 {
		font-size: @font_size_normal + @font_size_normal_small / 2 + 2px;
		font-family: @font_medium;
		margin: 0;
		padding: 62px 0px 32px;
		text-align: center;
	}

	p.desc {
		padding-bottom: 28px;
		text-align: center;

		a {
			text-decoration: none;	
		}
	}

	input,
	textarea {
		position: relative;
		border: 1px solid @color_field_silver;
		.border-radius(3px);
		outline: none;
	}

	.field-wrapper {
		position: relative;
		display: inline-block;
		font-size: 0;
	}

	.field-wrapper.right {
		float: right;
	}

	.field-wrapper.required:after {
		content: "*";
		display: block;
		position: absolute;
		top: 8px;
		right: 10px;
		color: @color_dark_alert;
		font-size: @font_size_normal + 2px;
	}

	.textfields {
		text-align: left;
		padding-bottom: 20px;

		input,
		.jq-selectbox {
			width: 252px;
			height: 22px;
			padding: 8px 10px;
			font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
			background: #fff;
		}
	}

	.textfields {
		select {
			width: 252px;
			height: auto;
			padding: 8px 10px;
			font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
			background: #fff;
		}
	}

	.textfields {
		.wide {
			display: block;
			padding-bottom: 20px;

			input,
			select {
				width: 554px;
			}

			.jq-selectbox {
				width: 576px;
				height: 42px;
				padding: 0;
				margin-bottom: 4px;
			}	

			.jq-selectbox__select,
			.jq-selectbox__select-text {
				height: 42px;
				line-height: 42px;
				font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
				background: #fff;
				/*color: #aaa;*/
			}

			.jq-selectbox__select {
				.box-shadow-none;
				border: 1px solid #ddd;
			}

			.jq-selectbox__trigger {
				border-left: none;
			}

			.jq-selectbox__trigger-arrow {
				top: 20px;
			}

			.jq-selectbox__dropdown {
				top: 42px;
			}

			.cbox {
				width: auto;
			}
		}
	}

	.car-info {
		border: 1px dashed #DDD;
		margin: 20px 0px 0px;
		padding: 12px;	
		overflow: hidden;
		height: 22px;
	
		.pseudo-checkbox {
			display: block;
			float: left;
			width: 22px;
			height: 22px;
			background: #fff;
			.box-shadow(inset 0px 0px 1px 1px #bbb);
		}

		.pseudo-checkbox:hover {
			background: url("@{path_images}cbox-sprite.png") -22px 0px no-repeat;
			.box-shadow-none;
		}

		.pseudo-checkbox.checked {
			background: url("@{path_images}cbox-sprite.png") -44px 0px no-repeat;
			.box-shadow-none;
		}

		label {
			display: inline-block;
			font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
			margin-left: 8px;
			margin-top: 3px;
		}

		.cbox {
			margin-top: -11px;
		}

		.car_model	{
			width: 347px;
		}

		.car_number	{
			width: 133px;
		}
	}

	textarea {
		width: 576px - (10px * 2);
		height: 132px;
		resize: none;
	}

	.screenshooter {
		padding: 27px 5px 0px;
		text-align: left;

		a {
			text-decoration: none;
			border-bottom: 1px dotted;
		}

		.add-first-screen {
			padding-bottom: 10px;
		}

		.screen-field {
			border-top: 1px dashed @color_field_silver;
			padding: 15px;
			/*text-align: center;*/
		}
	}

	.required-explain {
		padding-bottom: 15px;
		text-align: left;

		.field-wrapper.required {
			float: left;
		}

		.field-wrapper.required:after {
			top: -2px;
			left: 0px;
			right: auto;
		}

		span {
			padding-left: 12px;
		}
	}

	.submit {
		width: 100%;
		background: @color_blue_link;
		color: #fff;
		text-align: center;
		height: 50px;
		font-family: @font_roman;
		font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
		.border-radius(3px);
		.transition(all 0.3s ease 0.0s);
	}

	.submit:hover {
		background: #4db3e7;
	}

	.submit:active {
		background: #4db3e7;
		.box-shadow(inset 0px 0px 5px 0px @color_blue_link);
	}
}

.subscribe-form {
  min-height: 295px;
  .textfields {
	text-align: center;
  }
	.textfield {
		box-sizing: content-box;
	}
  label {
	display: none;
  }
  button[type=submit] {
	height: 40px;
	width: 273px;
	color: #FFF;
	background-color: #0093dd;
	font-size: (@font_size_normal + @font_size_normal_small) / 2;
	line-height: 22px;
	text-align: center;
	border: 0 none;
	.border-radius(2px);
	cursor: pointer;
  }
}

#error_popup {
	min-height: 0px;
}

#search {
	position: relative;
	/*overflow: hidden;*/

	.search-closer {
		position: absolute;
		top: 20px;
		right: 0px;
		display: block;
		width: 24px;
		height: 24px;
		background: url("@{path_images}cross.png") 0px 0px no-repeat;
		overflow: hidden;
		font-size: 0;
		text-decoration: none;
		text-indent: 9999px;
		.transition(all 0.3s ease 0.0s);
	}

	.search-closer:hover {
		.transform(scale(1.1));
	}
}

#search-form {
	position: relative;
	z-index: 400;
	max-width: 980px;
	margin: 0 auto;
	background: transparent;

	input {
		outline: none;
	}

	.radios {
		overflow: hidden;
		padding: 30px 0px;

		p {
			float: left;
			font-family: @font_medium;
			font-size: @font_size_normal + 3px;
			padding-right: 55px;

			label {
				margin-left: 5px;
				color: @color_blue_link;
				border-bottom: 1px dotted;
				margin-top: -1px;
			}

			label.active {
				color: #000;
				border-bottom: none;
			}
		}
	}

	.field {
		position: relative;
		/*overflow: hidden;*/
		background: #fff;
		border: 1px solid @color_field_silver;
		.border-radius(3px);
		height: 49px;

		input,
		select {
			float: left;
			border: none;
			outline: none;
		}

		.searchtext-field {
			width: 690px;
			font-size: @font_size_normal;
			font-family: @font_roman;
			padding: 14px 12px;
			.border-radius(3px 0px 0px 3px);
		}

		.searchtext-field.wide {
			width: 868px;
		}

		.dropdown {
			float: left;
			position: relative;

			.jq-selectbox__select {
				background: transparent;
				border: none;
				.box-shadow-none;
				height: 19px;
				font-family: @font_roman;
				font-size: @font_size_normal;
				padding: 15px 0px;
			}

			.jq-selectbox__select-text {
				color: @color_blue_link;
				border-bottom: 1px dotted;
				line-height: 16px;
				width: 100%;
				text-align: center;
			}

			.jq-selectbox__trigger {
				display: none;
			}

			.jq-selectbox__dropdown {
				width: 292px !important;
				margin-left: -11px;
				margin-top: 5px;

				ul {
					.box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.1));
					padding: 8px 0px;

					li {
						padding: 2px 10px 2px;
						font-size: @font_size_normal - 1px;
					}

					li.sel,
					li.sel:hover {
						color: @color_field_silver;
						background: transparent;
					}

					li.sel.selected {

					}
				}
			}

		}

		.search-submit {
			float: right;
			border: none;
			outline: none;
			background: @color_blue_link;
			color: #fff;
			width: 86px;
			height: 51px;
			font-size: @font_size_normal + 3px;
			font-family: @font_roman;
			cursor: pointer;
			margin-top: -1px;
			.border-radius(0px 3px 3px 0px);
		}
	}


	.search-example {
		font-size: (@font_size_normal + @font_size_normal_small) / 2;
		font-family: @font_roman;
		font-style: italic;
		padding: 15px 0px 43px;

		a {
			color: #000;
			text-decoration: none;
			border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
		}
	}
}

.footer {
	background-color: transparent;
	font-family: @font_main;	

	.footer_carusel_name {
		font-family: @font_roman;
		font-size: @font_size_normal;
		top: -178px;
		left: 8px;
	}
}

.footertop_link {
	width: 982px;
	padding-top: 50px;

	.footertop_scroll_prev,
	.footertop_scroll_next {
		width: 28px;
		height: 53px;
		position: absolute;
		z-index: 10;
		background-image: url("@{path_images}carousel-arrows.png");
		background-repeat: no-repeat;
		cursor: pointer;
		top: 50%;
		margin-top: -28px;
	}

	.footertop_scroll_prev {
		left: 0px;
		background-position: 0px -53px;
	}

	.footertop_scroll_prev:hover {
		background-position: 0px -106px;
	}

	.footertop_scroll_prev.disabled,
	.footertop_scroll_prev.disabled:hover {
		background-position: 0px 0px;
		cursor: default;
	}

	.footertop_scroll_next {
		right: 0px;
		background-position: -28px -53px;
	}

	.footertop_scroll_next:hover {
		background-position: -28px -106px;
	}

	.footertop_scroll_next.disabled,
	.footertop_scroll_next.disabled:hover {
		background-position: -28px 0px;
		cursor: default;
	}	
    .footertop_scroll {
        ul li::before {
            display: none;
        } 
    }
}

.footertop_scroll {
	/*width: 980px !important;*/
	margin: 0px 30px;
	line-height: 1.3em;

	.footer_link_content {
		width: 225px;
		height: 140px;
		padding: 5px;
		color: #ffffff;
		font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
		cursor: pointer;		
	}

	.footertop_link_img {
		position: absolute;
		top: 10px;
		left: 2px;
	}	

	.footertop_link_name {
		width: 170px;
		position: absolute;
		top: 10px;
		left: 50px;
	}
}

.footermiddle {
	height: 218px;
}

.footerbottom {
	background-color: transparent;
	padding: 30px 0px 45px;

	.copyright {
		width: 320px;
		display: inline-block;
		line-height: 17px;
		font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
		font-family: @font_medium;
	}

	.socials {
		display: inline-block;
		margin-left: 170px;
	}	

	.metrix {
		float: right;
	}
}

.contentblock.search-results,
.content-block.search-results{
	padding: 0px 35px 35px;
	width: 914px;
    background-color: #FFF;

	a {
		color: rgb(0, 147, 221);
		text-decoration: none;
		border-bottom: 1px dotted;
	}

	.search-query-title {
		/*position: absolute;*/
		text-transform: uppercase;
		font-family: @font_roman;
		font-size: 46pt;
		padding-top: 60px;
		padding-bottom: 30px;
		max-width: none;
		width: 100%;
		border: none;
		border-bottom: 1px solid @color_field_silver;
		outline: none;
	}

	.search-query-title.fixed {
		position: fixed;
		z-index: 300;
		top: 0px;
		left: 50%;
		margin-left: -492px;
		background: rgba(255, 255, 255, 0.9);
		width: 914px;
		padding: 20px 35px;
	}

	.filter {
		padding-top: 18px;
		padding-bottom: 20px;


		.title {
			color: rgb(173, 173, 171);
			font-family: @font_roman;
			font-size: @font_size_normal_small + 1px;
			padding-bottom: 5px;
		}
	}

	.categories.list {
		.category {
			display: inline-block;
			margin-right: 20px;
			font-size: @font_size_normal_small + 1px;
		}

		.category.active {
			color: #000;
			font-family: @font_bold;
			border-bottom: none;
		}
	}

	.results-count {
		position: relative;
		float: left;
		z-index: 10;
		font-size: @font_size_normal_small + 1px;
		padding-top: 10px;
	}

	.sort.tabs {
		/*clear: both;*/
		/*margin-top: -30px;*/
		border-bottom: 1px solid @color_field_silver;
		text-align: right;

		a {
			display: inline-block;
			padding: 10px 12px;
			margin: 1px 1px 0px;
			text-decoration: none;
			border-bottom: none;

			span {
				border-bottom: 1px dotted;
			}
		}

		a.active {
			border: 1px solid @color_field_silver;
			margin-bottom: -1px;
			border-bottom: 1px solid #fff;	
			color: #000;

			span {
				font-family: @font_bold;
				border-bottom: 1px dotted #fff;
			}		
		}
	}

	.search-results-list {
		padding-bottom: 30px;
		
		.row {
			font-family: @font_roman;

			span {
				display: block;
				/*float: left;*/
			}

			a {
				display: block;
				overflow: hidden;				
				text-decoration: none;
				border-bottom: none;
				padding: 20px 0px;				
			}

			// a:hover {
			// 	background: rgba(200, 200, 200, 0.1);
			// }

			.media {
				background: #fff;
				font-size: 0;
				float: left;
				margin-left: 2px;
				margin-right: 20px;
				.box-shadow(0px 0px 2px 0px rgba(0, 0, 0 , 0.2));

				img {
					width: 150px;
					margin: 3px;
				}
			}

			.date-type,
			.title,
			.content {
				max-width: 735px + 178px;
				padding-left: 0px;
				margin: 0;
			}

			.title,
			.content {
				em {
					display: inline-block;
					background: @color_highlight;
					font-style: normal;
					padding: 2px;
					.border-radius(2px 4px);
					margin-left: -2px;
					margin-right: -2px;
					margin-top: -2px;
					margin-bottom: -2px;
				}
			}

			.date-type {
				font-size: @font_size_normal_small;
				color: @color_date;
				padding-bottom: 8px;
			}

			.title {
				font-family: @font_bold;
				font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
				padding-bottom: 10px;
				color: #000;
			}

			.title:hover {
				color: @color_blue_link;
				text-decoration: underline;
			}

			.content {
				color: #000;
			}
		}

		.row.has-photo {
			.date-type,
			.title,
			.content {
				max-width: 735px;
				padding-left: 178px;
				margin: 0;
			}			
		}
	}

    .pages {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#date_dialog.modal {
	width: 827px;
	min-height: 400px;
	padding: 30px 0px 110px;

	.helper {
		font-size: @font_size_normal_small;
		color: rgb(151, 151, 151);
		padding: 20px 47px 30px;
		/*padding-bottom: 20px;*/
		text-align: left;
	}

	.range-caption {
		position: absolute;
		left: 47px;
		bottom: 47px;
		text-align: left;

		.dates {
			color: #c6421b;
		}

		a {
			display: inline-block;
			text-decoration: none;
			border-bottom: 1px dotted;
			padding-top: 10px;
		}
	}

	.apply-filter {
		position: absolute;
		right: 47px;
		bottom: 47px;
		background: @color_blue_link;
		color: #fff;
		text-align: center;
		height: 40px;
		font-family: @font_roman;
		font-size: @font_size_normal + 2px;
		border: none;
		padding: 0px 15px;
		.border-radius(3px);
		.transition(all 0.3s ease 0.0s);
	}

	.apply-filter:hover {
		background: #4db3e7;
	}

	.apply-filter:active {
		background: #4db3e7;
		.box-shadow(inset 0px 0px 5px 0px @color_blue_link);
	}	
}

.datepickerContainer {
	top: 0px;
	left: 0px;

	table {
		td:nth-child(1) {
			table.datepickerViewDays {
				.datepickerGoNext {
					visibility: hidden;
				}
			}
		}

		td:nth-child(3) {
			table.datepickerViewDays {
				.datepickerGoPrev {
					visibility: hidden;
				}

				.datepickerGoNext {
					a {
						margin-right: -47px;
					}
				}				
			}
		}
	}

	.datepickerGoPrev,
	.datepickerGoNext {
		padding: 0;

		a {
			display: block;
			width: 47px;
			height: 47px;
			line-height: 47px;
			background: @color_blue_link;
			color: #fff;
			margin-bottom: -1px;
		}

		a:hover {
			background: #4db3e7;			
			color: #fff;
		}

		a:active {
			background: #4db3e7;
			color: #fff;
			.box-shadow(inset 0px 0px 5px 0px @color_blue_link);			
		}
	}
}

.datepicker {
	.datepickerBorderT,
	.datepickerBorderB,
	.datepickerBorderL,
	.datepickerBorderR,
	.datepickerBorderTL,
	.datepickerBorderTR,
	.datepickerBorderBL,
	.datepickerBorderBR {
		display: none;
		background-image: none;
	}

	table,
	table * {
		/*border-collapse: collapse;*/
		border: none;
		/*color: #000;*/
		background: transparent;
		font-family: @font_roman;
	}

	.datepickerSpace {
		display: none;
	}

	table.datepickerViewDays {
		thead {
			width: 100%;

			tr.datepickerDoW {
				border-top: 1px solid rgb(200, 200, 200);
				text-transform: uppercase;
			}
		}

		.datepickerMonth {
			text-align: left;

			a {
				font-family: Arial;
				font-size: @font_size_normal + 2px;
				font-weight: bold;
				color: #000;
			}
		}		

		.datepickerDays {
			font-size: @font_size_normal_small - 1px;

			.datepickerWeek {
				font-size: 0;
				overflow: hidden;
				text-indent: -9999px;
				border-bottom: none;				
			}

			td {
				padding: 0;
				min-width: 46px;
				height: 46px;
				line-height: 46px;
				text-align: center;
				vertical-align: middle;
				border-bottom: 1px solid @color_field_silver;

				a {
					display: inline-block;
					width: 47px;
					height: 47px;
					color: rgb(0, 147, 221);

					span {
						display: inline-block;
						text-align: center;
						width: 100%;
						line-height: 46px;
					}
				}

				a:hover {
					color: rgb(0, 31, 55);
					background-color: rgb(246, 246, 246);
				}				
			}

			td.datepickerSelected {
				a,
				a:hover {
					color: #fff;
					background: transparent;
				}
			}

			td.datepickerNotInMonth {
				font-size: 0;
				overflow: hidden;
				text-indent: -9999px;
				border-bottom: none;
				visibility: hidden;
			}

			.today {
				a {
					span {
						font-weight: bold;
						/*text-decoration: underline;					*/
						font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
					}
				}
			}			
		}

	}
}

.audio-list time {
  line-height: 16.75px;
}
.text-message {
  padding: 1em 0;
}

@media (min-width: 768px){
	.form-horizontal .control-label.with-checkbox {
		padding-top: 0;
	}
}

.subscription-choice{

	label {
		display: inline-block;
		//float: left;
		width: 650px;
	}
	input[type="checkbox"]{
		margin: 0;
	}
}
.subscription-choice {
  overflow: hidden;
}
.audio-list {
	.file_list_item {
		width: 411px;
		padding-left: 45px;
		float: left;
		&::before {
			left: 6px;
		}
	}
	.audiojs-wrap {
		width: 470px;
		float: left;
	}
	.list-item {
		overflow: hidden;
		padding-top: 1.5em;
		padding-bottom: 1em;
		& + .list-item {
			border-top: 1px solid #CCC;
		}
	}
}
.filtered-materials-list.appeal .doubleblock {
	padding: 30px 28px;
	margin: 0;
}
.appeal-image {
	position: relative;
	padding-bottom: 20px;
	display: inline-block;
	width: auto;
	min-height: 530px;
	width: 490px;
	float: left;
}
.appeal-description {
	margin-left: 30px;
	width: 380px;
	float: right;
}

.print {
	position: static;
	float: right;
	margin-right: 28px;
	margin-top: 26px;
	line-height: 22px;
}

.pages {
	position: static;
	margin: 30px 0 -30px 0;/* margin-left:15px;*/
	white-space: nowrap;
}
.page {
	background-color: #ffffff;
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 2px;
	margin: 2px;
	line-height: 30px;
	color: #0065a2;
	cursor: pointer;
	text-decoration: none;
	background-color: #EEE;
	&:hover {
		background-color: #0065a2;
		color: #ffffff;
	}
	&.disabled {
		cursor: default;
		color: #0065a2;
		background-color: #ffffff;
	}
	&.active {
		background-color: transparent;
		color: #777777;
		cursor: default;
	}
}
.page + .page {
	margin-left: 0;
}

.content-selector {
	width: auto;
	padding: 30px 28px 0;
	margin: 0;
	.type-selector {
		width: 430px;
		.label {
			float: left;
			height: 30px;
			padding-top: 1px;
		}
	}
	.contact-filter {
		width: 493px;
		input.styler[type="text"] {
			width: 423px;
			border-width: 1px !important;
		}
	}
	.type-selector,
	.contact-filter {
		float: left;
	}
}
.maintenance-message {
	display: block;
	position: fixed;
	top: 69px;
	padding: 1em;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.95);
	color: #000;
	border: 4px dashed orange;
	z-index: 351;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}
@media (max-width: 724px) {
	.logo {
		position: relative;
		float: left;
		display: inline-block;
		top: auto;
		left: auto;
		margin: 15px 5px;
	}

	.logo_text {
		font-size: @font_size_normal;
		display: inline-block;
		width: 55%;
		left: auto;
		top: auto;
		margin: 22px 0px;
		padding-left: 0px;
	}

	.secmenu {
		/*position: absolute;*/
		clear: both;
		top: auto;
		left: auto;

		a.option {
			padding: 10px 5px;
		}

		.smenu {
			a.option {
				padding: 5px;
				border-bottom: 1px solid rgb(240, 240, 240);
				padding-left: 20px;
				font-size: @font_size_normal_small;
			}
		}
	}

	.content {
		/*padding-top: 450px;*/
	}
}

.plaques {
	width: 282px;
	height: 370px;
	line-height: 370px;
	text-align: center;
	border: 1px solid #dddddd;
	margin: 0 36px 36px 0;
	cursor: pointer;
	float: left;
}

.plaques + h2,
.small_plaques + h2 {
	clear: left;
}

.plaques:nth-of-type(3n) {
	margin-right: 0;
}

.plaque-inner {
	line-height: normal;
	display: inline-block;
}

.plaque_img {
	width: 282px;
	height: 370px;
	vertical-align: middle;
}

.small_plaques {
	width: 212px;
	height: 260px;
	line-height: 260px;
	text-align: center;
	border: 1px solid #dddddd;
	margin: 0 23px 23px 0;
	cursor: pointer;
	float: left;
}
div.small_plaques:nth-of-type(4n) {
	margin-right: 0;
}

.small_plaque_img {
	width: 212px;
	height: 260px;
	text-align: center;
	vertical-align: middle;
}

.news_inner_wrapper {
	overflow: hidden;
}

.sidebar + .content-body {
	float: left;
}

.block-left-sidebar .content-body .content-block {
    padding-top: 0;
    padding-left: 0;
    adding-right: 0;
}

.menu001 {
    padding:0px;
    margin-right: 25px;
    width: 268px;
    min-height: 20px;
    height: auto;
    background-color: #01527d;
}
.item002 {
    padding:30px;
    width: 625px;
    min-height: 673px;
    height: auto;
}
.item003 {
    padding:0px;
    width: 685px;
    min-height: 288px;
    height: auto;
}
.gover_option {   
    &.active {
        background-color: #4991c7;
    }
}

@import 'special.less';

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
	background: #fff;
	padding-bottom: 30px;

	.jq-selectbox__select {
		background: transparent;
		border: none;
		.box-shadow-none;
		height: 19px;
		font-family: @font_roman;
		font-size: @font_size_normal - 4px;
		padding: 15px 0px;
	}

	.jq-selectbox__select-text {
		color: @color_blue_link;
		border-bottom: 1px dotted;
		line-height: 16px;
		width: 100%;
		//text-align: center;
	}

	.jq-selectbox__trigger {
		display: none;
	}

	.jq-selectbox__dropdown {
		width: 292px !important;
		margin-left: -11px;
		margin-top: 5px;

		ul {
			.box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.1));
			padding: 8px 0px;

			li {
				padding: 2px 10px 2px;
				font-size: @font_size_normal - 4px;
			}

			li.sel,
			li.sel:hover {
				color: @color_field_silver;
				background: transparent;
			}

			li.sel.selected {

			}
		}
	}

	.breadcrumbs {
		margin: 0px 28px;
		padding: 20px 0 5px 0;
		border-bottom: 1px solid #ddd;

		a {
			color: @color_blue_link;
		}

		.activity-buttons {
			display: inline-block;
			float: right;

			& > a {
				display: inline-block;
				width: 44px;
				height: 23px;
			}

			.rss-link {
				background: url("@{path_images}rss.png") center 3px no-repeat;
				border-left: 1px solid #eee;
				border-right: 1px solid #eee;
			}

			.rss-link:hover,
			.rss-link:active {
				background-position: center -21px;
			}
		}		
	}

	h1 {
		font-family: @font_bold;
		font-size: @font_size_normal * 1.5  + 1px;
		border-bottom: 1px solid #ddd;
		margin: 0px 28px;
		padding: 20px 0px;
		max-width: 100%;
		font-weight: normal;
	}
	.doubleblock {
		width: 984px - 28px - 28px;
		margin: 0px 28px;

	}
	.doubleleft,
	.doubleright {
		.box-shadow-none;
	}

	.doubleleft {
		width: 615px;
		margin-right: 28px;

		.filter-values {
			position: relative;
			min-height: 28px;
			padding: 10px 0px;
			padding-right: 38px;

			.filter-value {
				padding: 5px 7px;
				/*font-size: @font_size_normal_small;*/
				display: inline-block;
				background-color: #c9e8f8;
				border: 1px solid #9dc9f5;
				.border-radius(2px);
				color: @color_blue_link;
				margin-left: 5px;

				.remove-filter-value,
				.filter-remove-link {
					display: inline-block;
					width: 9px;
					height: 9px;
					background: url("@{path_images}small_blue_cross.png") center center no-repeat;
					margin-left: 5px;
				}
			}

			.reset-all-filters {
				position: absolute;
				right: 10px;
				top: 14px;
				width: 18px;
				height: 18px;
				background: url("@{path_images}big_cross.png") center center no-repeat;
			}
		}

	}

	.news-count,
	.date-splitter {
		width: 100%;
		font-family: @font_roman;
		font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
		text-align: center;
		padding: 15px 0px;
	}

	.date-splitter a,
	.date-splitter .bold {
		font-family: @font_bold;
		color: #000;
		text-decoration: none;
	}

	.date-splitter a:hover,
	.date-splitter a:active {
		color: @color_blue_link;
		text-decoration: underline;
	}

	.date-splitter {
		margin-top: -1px;
		border-top: 1px solid #ddd;			
		border-bottom: 1px solid #ddd;			
	}

	.date-splitter.fixed {
		position: fixed;
		top: 44px;
		left: 50%;
		margin-left: 0px - (928px/2);
		width: 615px;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 88;
		/*.box-shadow(0px 5px 15px 0px rgba(0, 0, 0, 0.2));*/
	}

	.news-row,
	.vacancy-row {
		width: 100%;
		padding: 20px 0px;
		font-family: @font_roman;

		.vacancy-type {
			position: relative;
			float: left;
			background: #fcfcfd;
			border: 1px solid #e2e2e2;
			.border-radius(2px);
			padding: 4px 8px 4px 16px;
			margin-right: 10px;
			margin-top: -5px;
			font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
			color: #b3b3b1;

			.flag {
				position: absolute;
				background: url("@{path_images}vacancy-type-flag.jpg") 0px 0px no-repeat;
				top: -1px;
				left: -1px;
				width: 16px;
				height: 26px;
			}
		}

		.vacancy-valid {
			color: #b3b3b1;
		}

		.news-title,
		.vacancy-title {
			a {
				font-family: @font_bold;
				font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
				color: #000;
				text-decoration: none;
			}

			a:hover,
			a:active {
				color: @color_blue_link;
				text-decoration: underline;
			}

			padding-bottom: 10px;
		}

		.vacancy-title {
			clear: both;
			padding-top: 10px;
			padding-bottom: 0px;

			a {
				font-family: @font_medium;
				font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
			}
		}

		.news-announce,
		.vacancy-ministry {
			padding: 10px 0px;
		}

		.vacancy-ministry {
			float: left;
			width: 400px;
		}

		.vacancy-salary {
			clear: both;
			/*float: left;*/
			/*color: #43a464;*/
			color: #bbb;
			/*font-family: @font_bold;*/
			padding-top: 10px;

			.rub {
				display: inline-block;
				background: url("@{path_images}rub-green.jpg") 0px 0px no-repeat;
				width: 10px;
				height: 10px;
				margin-left: 2px;
			}
		}

		.news-region a,
		.news-region span,
		.news-keywords a,
		.vacancy-region a,
		.vacancy-region span,
		.vacancy-keywords a {
			color: #aaa;
			text-decoration: none;
		}

		.news-region a:hover,
		.news-keywords a:hover,
		.vacancy-region a:hover,
		.vacancy-keywords a:hover {
			color: @color_blue_link;
			text-decoration: underline;
		}

		.news-region a.region-link.active,
		.vacancy-region a.region-link.active {
			display: inline-block;
			padding: 2px 5px;
			text-decoration: none;
			.border-radius(2px);				
			background-color: rgb(201, 232, 248);
			color: #0093dd;
		}	

		.news-accreditation-link {
			padding-top: 8px;

			a {
				color: @color_blue_link;
				text-decoration: none;
				border-bottom: 1px dotted;
				font-size: @font_size_normal_small + 1px;
			}
		}

		.news-keywords,
		.vacancy-keywords {
			background: url("@{path_images}tags.png") 0px 1px no-repeat;
			padding-left: 20px;
			font-size: @font_size_normal_small + 1px;

			a.hidden {
				display: none;
			}

			.keywords-expander {
				padding-top: 4px;
			}

			.keywords-expander a {
				text-decoration: none;
				border-bottom: 1px dotted;
			}
		}
	}

	.vacancy-row {
		overflow: hidden;
	}

	.news-row.has-photo,
	.news-row.has-video,
	.vacancy-row.has-photo,
	.vacancy-row.has-video {
		overflow: hidden; 

		.news-photo,
		.news-video {
			float: left;
			font-size: 0;
			display: block;
			border: 4px solid #fff;
			margin-left: 2px;
			.box-shadow(0px 0px 2px 0px rgba(0, 0, 0, 0.4));
		}

		.news-textfield,
		.vacancy-textfield {
			margin-left: 180px;
		}
	}	

	.doubleright {
		width: 275px;
		box-sizing: border-box;
		margin: 0;
		padding-left: 25px;

		.block-single-calendar .dropdowns,
		.block-single-calendar .dropdowns * {
			font-family: @font_medium;
		}
	}
	&.news-list-old {
		.doubleblock {
			.doubleleft,
			.doubleright {
				box-sizing: border-box;
			}
			.doubleleft {
				border-right: 1px solid;
			}
			.doubleright {
				border-left: none;
				padding-left: 25px;
				width: 305px;
			}
		}
	}
}

/*.omsu_main_wrapper,*/
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.omsu_vacancies_wrapper,
/*.omsu_all_news_wrapper,*/
.filtered-materials-list {
	h1 {
		font-family: @font_medium;
		padding-right: 130px;
	}

	.news-header,
	.docs-header {
		font-family: @font_medium;
		text-transform: uppercase;
		/*border-bottom: 1px solid #ccc;*/
		font-size: @font_size_normal + 4px;
		color: #000;
		padding: 12px 0px 15px;
		/*margin-bottom: 18px;*/
	}
	.docs-header {
        margin-top: -7px;
    }

	.menu.tabs {
		/*width: 100%;*/
		margin: 0px 28px;
		margin-bottom: 30px;
		margin-top: -1px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;

		a {
			display: inline-block;
			color: @color_blue_link;
			text-decoration: none;
			padding: 15px 15px;
		}

		a:hover,
		a:active,
		a.active {
			background-color: #eee;
		}

		a.active {
			position: relative;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			/*margin-left: -1px;*/
			/*margin-right: -1px;*/
		}

		a.active:after {
			position: absolute;
			display: block;
			content: " ";
			z-index: 2;
			width: 26px;
			height: 12px;
			bottom: -12px;
			left: 50%;
			margin-left: -13px;
			background: url("@{path_images}third_menu_corner.png") top center no-repeat;
		}
	}

	.activity-buttons {
		display: inline-block;
		float: right;
		margin: 26px 30px 0;
		/*margin-top: -48px;*/
        margin-top: 24px;
		font-size: 0;

		& > a {
			display: inline-block;
			width: 44px;
			height: 23px;
			margin-left: -1px;
			border-left: 1px solid #eee;

		}

		& > a:last-of-type {
			border-right: 1px solid #eee;
		}

		.rss-link {
			background: url("@{path_images}rss-2.png") center 3px no-repeat;
		}

		.print-link {
			background: url("@{path_images}print-2.png") center 0px no-repeat;
		}

		.share-link {
			background: url("@{path_images}share-2.png") center 0px no-repeat;
		}

		.rss-link:hover,
		.rss-link:active {
			background-position: center -21px;
		}

		.print-link:hover,
		.print-link:active {
			background-position: center -27px;
		}

		.share-link:hover,
		.share-link:active,
		.share-link.active {
			background-position: center -30px;
		}

		.share-modal {
			display: none;
			position: absolute;
			z-index: 10;
			background-color: #fff;
			padding: 10px;
			right: 28px;
			border: 1px solid #ddd;

			.border-radius(4px);
			.box-shadow(0px 5px 10px 0px rgba(0, 0, 0, 0.2));

			.b-share-btn__wrap {
				display: block;
				float: none;
				margin: 0;
				margin-bottom: 4px;
				overflow: hidden;
			}

			ul {
				list-style: none;
				list-style-image: none;

				li {
					list-style: none;
					list-style-image: none;
					margin-bottom: 4px;
					display: block;
					margin: 0 0 4px;
					&:last-child{
						margin-bottom: 0;
					}
				}

				li:before {
					content: "";
					display: none;
				}
			}

		}

		.printout {
			font-size: @font_size_normal_small;
			line-height: 23px;
			vertical-align: top;
			width: 90px;
			text-align: center;
			color: @color_dim;
			&:active,
			&:hover {
				color: @color;
			}
		}
	}	

	.all-news {
	    display: block;
	    margin-top: 20px;
	    background-color: #fff;
	    border: 1px solid #ccc;
	    color: #ccc;
	    width: 100%;
		padding: (@font_size_normal / 2 - 2px) 0.75em;
	    /*padding: 10px 0px; */
	    text-align: center;
	    text-decoration: none;
		.border-radius(2px);
	}

	.all-news:hover {
	    color: rgb(0, 147, 221);
	}

	.all-news:active {
	    background-color: rgb(0, 147, 221);
	    border-color: rgb(0, 147, 221);
	    color: #fff;
	}
	.filter-values:first-child + .news-list-wrapper .news-list-inner-wrapper .date-splitter:first-child {
		border-top: 0 none;
		padding-top: 11px;
		padding-bottom: 16px;
	}
	h2.today-announces {
		margin: 40px 0 20px;
	}
}

.omsu_news_wrapper {

	.block-list-date-filter {
		display: none;
	}
}

.omsu_all_news_wrapper {
	h3.news-header {
		padding-top: 5px;
	}
}

.omsu_vacancies_wrapper {
	padding: 0
}

.main_wrapper,
.omsu_documents_wrapper {
	.document-row {
		margin: 0 0 10px;
		.download {
			display: block;
			padding: 10px 0px 0;
			text-decoration: none;
			min-height: 12px;

			.icon {
				float: right;
				width: 36px;
				height: 36px;
				background: url("@{path_images}download-file-2d.png") 0px 0px no-repeat;
				margin-left: 10px;
			}

			.document-name {
				display: block;
				font-family: @font_medium;
				font-size: (@font_size_normal + @font_size_normal_small) / 2 + 2px;
				color: #000;
				text-decoration: none;
				padding-bottom: 2px;
			}

			.document-extension-and-size {
				text-decoration: none;
				color: #bbb;
			}
		}

		.download:hover,
		.download:active {
			.icon {
				background-position: 0px -36px;
			}

			.document-name {
				color: @color_blue_link;
				text-decoration: underline;
			}			
		}
	}
}

.block-region-head-info .region-head-name {
	font-family: @font_medium;
}
.omsu-map {
	padding: 20px 0 0 10px;
}
.block-omsu-map {
	margin: 20px 0;
	& + .doubleblock {
		border-top: 1px solid @color_dashline;
		margin-top: 8px;
	}
}
.villages-all-visible {
    .block-omsu-map {
        margin: 40px 30px;
        h2 {
            padding: 10px 0px 0px;
        }
    }
}
.block-omsu-map:first-child {
	margin-top: 0;
}
.omsulist + .block-omsu-map {
	margin-top: 40px;
}

.xseparator {
	border-top: 1px solid #ddd;
	margin-top: 8px;
}
body div.block-omsu-map + div.xseparator {
	margin-top: -12px;
	padding-top: 20px;
}
.SmallRegionInfo {
	padding: 10px;
	/*width: 180px;
	height: 70px;
	*/
	width: auto;
	height: auto;
	text-align: center;
}

.villages-all-visible {
	.block-omsu-map {
		.tabs {
			display: none;
		}

		.display {
			display: block;
		}

		.display.list {
			padding-top: 30px;

			.village-item {
				display: block;
				background-image: url("@{path_images}dots.jpg");
				background-position: 0px 5px;
				background-repeat: no-repeat;
				margin: 0px 0px 5px;
				padding: 0px;

				a {
					color: #000;
					text-decoration: none;
					margin-left: 15px;
				}
			}

			.village-item:hover,
			.village-item:active {
				background-position: 0px -19px;

				a {
					color: @color_blue_link;
					/*text-decoration: underline;*/
				}
			}
		}
	}
}

.new_style_link {
  clear: both;
  display: block;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #ccc;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  .border-radius(2px);
 .box-sizing(border-box);
}

.new_style_link:hover {
  color: rgb(0, 147, 221);
}

.new_style_link:active {
  background-color: rgb(0, 147, 221);
  border-color: rgb(0, 147, 221);
  color: #fff;
}

.omsulist a {
  font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
  color: #000;
  text-decoration: none;
  line-height: 24px;
}

.omsulist a:hover {
  color: #0093dd;
  text-decoration: underline;
}

span.omsulist {

  width: 455px;
  display: block;
}

span.omsulist a {
  font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
  line-height: 20px;
}

div.omsulist {
  vertical-align: top;
  height: auto;
  width: 455px;
  display: inline-block;
}

.omsu_map {
  display: block;
  width: 460px;
  min-height: 744px;
  height: auto;
  float: left;
}

.omsulist_mapinfo {
  width: 398px;
  height: auto;
  border: 1px solid #ddd;
  display: block;
  float: right;
  margin: 30px 0 0 0;
  padding: 25px;
  overflow: hidden;
}

div.doubleblock {
	div.doubleleft {
		margin-right: 0;
		padding-left: 0;
	}
}
.doubleright {
	.omsulist_mapinfo {
		margin: 0;
		padding: 0;
	}
}
.standart_shablons__subscription .content-block {
    background-color: #FFF;
}
div.content-block {
	clear: both;
	padding: 20px 28px 30px;
	h1 {
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		margin-bottom: 30px;
		padding-right: 100px;
	}
	h2 {
		margin: 2em 0 1em;
	}
	.activity-buttons {
		margin-top: 6px;
	}
	div.doubleblock {
		margin: 0;

		.doubleleft,
		.doubleright {
			padding-left: 0;
			padding-right: 0;
		}
		.doubleleft {
			width: 475px;
			padding-right: 30px;
			margin-right: 0;
			padding-left: 0;
		}
		.doubleright {
			/*width: 450px;*/
			width: 420px;
		}
		.omsulist_mapinfo {
			margin: 0;
		}
	}
}
.state-services .content-documents,
.regulations .content-documents,
.f_material_251 .content-documents {
	text-align: justify;
	line-height: 1.75;
}
.photo_list {
	margin: 0 24px 25px 0;
	width: 211px;
	height: 211px;

	&:nth-child(4n) {
		margin-right: 0;
	}

	.media-content {
		display: block;
		width: 211px;
		height: 211px;
		.background-size(100%);
	}
}
.photo_list_content {
	width: 221px;
	height: 80px;
	top: 131px;
}

.photo_list_container {
	overflow: hidden;
}

.photo_list_name {
	width: 209px;
	height: 70px;
	padding-top: 5px;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	left: 1px;
	top: 0px;
	p {
		font-size: @font_size_normal_small + 1px;
		line-height: 16px;
	}
}

.m4_70_maps {
	padding-left: 20px;
}

.omsulist_logo {
  display: block; float: left; width: 147px;
}

.omsulist_regioninfo {
  display: block; float: right; width: 250px;
}

.omsulist_mapinfo h3 {
  font-family: 'helveticaneuecyrmedium', Arial, Tahoma;
  font-size: @font_size_normal + 4px;
  font-weight: normal;
}

.omsulins_regioninfo_leftcol {
  font-size: @font_size_normal_small + 1px;
  color: #adadab;
  display: table-cell;
  width: 106px;
  line-height: 20px;
}

.omsulins_regioninfo_rightcol {
  font-size: @font_size_normal_small + 1px;
  color: #000000;
  display: table-cell;
  width: 140px;
  line-height: 20px;
}

.omsulins_regioninfo_row {
  display: table-row;
  width: 246px;
  padding-bottom: 3px;
}

.omsulist_news_data {
  color: #0093dd;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
  width: 100%;
  font-weight: bold;
  font-family: 'helveticaneuecyrmedium', Arial, Tahoma;
}

.omsulist_news_name {
  padding: 5px 0 5px 0;
}

.omsulist_news_name a {
  font-family: 'helveticaneuecyrbold', Arial;
  font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
  color: #000;
  text-decoration: none;
}

.omsulist_news_name a:hover {
  color: #0093dd;
  text-decoration: underline;
}

.omsulist_news_anons {
  padding: 5px 0 5px 0;
  color: #646464;
  font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
}

.f_material_209 .block-region-head-info {
	padding-top: 20px;
}

.f_materials_4_162_208 {
	.contacts-header {
		font-family: @font_medium;
		text-transform: uppercase;
		border-bottom: 1px solid #ccc;
		font-size: @font_size_normal + 4px;
		color: #000;
		padding: 12px 0px 15px;
		/*margin-bottom: 18px;*/		
	}

	.omsu-contact {
		width: 100%;
		overflow: hidden;
		padding: 12px 0px;
		border-bottom: 1px dotted #ddd;

		.side {
			overflow: hidden;
		}

		.left-side {
			float: left;
			width: 300px;
		}

		.right-side {
			float: right;
			width: 928px - 340px;
		}

		.title,
		.subtitle,
		.site {
			padding-top: 0px;
			padding-bottom: 5px;
		}

		.address,
		.phones {
		}

		.title {
			font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
		}

		.site {
			a {
				color: @color_blue_link;
			}
		}

		.address {
			padding-bottom: 10px;

			a {
				color: #bbb;
				margin-top: 5px;
				text-decoration: none;
				border-bottom: 1px dotted;
			}

			a:hover,
			a:active {
				color: @color_blue_link;
			}
		}

		.phones {
			padding-left: 25px;
			padding-bottom: 5px;
			background: url("@{path_images}contacts-phone.jpg") 0px 2px no-repeat;
			min-height: 30px;
			overflow: hidden;

			.phone {
				width: 50%;
				float: left;
				margin-bottom: 4px;
			}
		}

		.phone-caption {
			color: #bbb;
		}

		.email {
			padding-left: 30px;
			background: url("@{path_images}contacts-email.jpg") 0px 2px no-repeat;
			min-height: 30px;			

			a {
				color: #000;
				text-decoration: none;
			}

			a:hover,
			a:active {
				color: @color_blue_link;
				text-decoration: underline;
			}
		}

		.map {
			position: relative;
			clear: both;
			width: 100%;
			height: 400px;
			display: none;

			.map-closer {
				position: absolute;
				right: 10px;
				top: 10px;
				width: 24px;
				height: 24px;
				background: url("@{path_images}cross.png") 0px 0px no-repeat;
				z-index: 10;
			}
		}
	}

	.omsu-contact-last {
		border-bottom: none;
	}
}

.f_materials_4_162_163 {
	.silverplate {
		background-color: #f6f6f6;
		overflow: hidden;
		padding: 18px;

		img {
			float: left;
			border: 4px solid #fff;
			.box-shadow(0px 0px 2px 0px rgba(0, 0, 0, 0.2));
			margin-right: 20px;
		}

		h4 {
			font-size: @font_size_normal * 1.5  + 1px;
			font-family: @font_medium;
			line-height: 1.3em;
			margin-bottom: 10px;
		}

		.post {
			font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
			padding-bottom: 10px;
		}

		.post-from {
			color: #bbb;
		}
	}

	.body {
		font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
		font-family: @font_roman;
		line-height: 1.5em;
		padding-bottom: 20px;

		li {
			margin-left: 40px;
		}
	}
}

.announces_wrapper {
	.news-row {
		.time {
			font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
			color: #bbb;
			display: inline-block;
		}

		.status {
			display: inline-block;
			color: #aaa;
			border: 1px solid #cddbe3;
			.border-radius(2px);
			border-radius: 2px;
			padding: 4px 9px 3px;
			margin: 0px 0px 10px 5px;
			font-size: @font_size_normal_small + 1px;
		}

		.news-title {
			font-family: @font_medium;
			font-size: @font_size_normal;
		}

		.news-address {
			color: #aaa;
			font-size: @font_size_normal_small + 1px;
			margin-bottom: 10px;

			.address-line {
				margin-bottom: 5px;
			}
		}
	}

	.news-row.has-photo,
	.news-row.has-video {
		.time {
			margin-left: 20px;
		}
	}
}

.f_materials_1_3 {
	.block-doclist {
		h3 {
			font-family: @font_medium;
			text-transform: uppercase;

			.date-filtered {
				font-family: @font_roman;
			}
		}
	}
}

.filtered-materials-list.videos_wrapper {
	.doubleleft {
		.news-row.has-video {
			.news-video {
				position: relative;
				margin-left: 1px;

				.icon {					
				}

				.duration {
					position: absolute;
					bottom: 5px;
					right: 5px;
					z-index: 10;
					background-color: rgba(0, 0, 0, 0.7);
					.border-radius(2px);
					padding: 2px 4px;
					color: #fff;
					font-size: @font_size_normal_small;
				}
			}

			.news-textfield {
				margin-left: 300px;
			}
		}
	}
}

.filtered-materials-list.photos_wrapper {
	.doubleleft {
		.news-row.has-photo {
			.news-photo {
				position: relative;
				margin-left: 2px;

				.info {
					display: block;
					position: absolute;
					bottom: 0px;
					left: 0px;
					width: 260px;
					background-color: rgba(0, 0, 0, 0.7);
					padding: 20px 10px;
					/*text-align: right;*/
					font-size: 0;
				}

				.icon {
				  display: inline-block;
				  font-size: @font_size_normal_small;
				  line-height: 1.2em;
				  color: #fff;					
				  float: left;
				  width: 52px;
				  background: url("/blocks/photo_albums/images/album_count.png") top center no-repeat;
				  text-align: center;
				  padding-top: 32px;					
				}

				.small-photo {
					border: 1px solid #fff;
					display: inline-block;
					margin-left: 5px;
				}

				.small-photo-1 {
					margin-left: 0px;
				}

			}

			.news-textfield {
				margin-left: 309px;
			}
		}
	}
}

.material_page_wrapper {
	.activity-buttons {
		margin-top: -10px;
		margin-right: 0px;
	}
    .breadcrumbs + .activity-buttons {
        margin-top: 24px;
    }

	h1 {
		padding-right: 0px;
	}

	.material-system-data {
		border-bottom: 1px solid #ddd;
		margin-bottom: 30px;
		font-size: 0;
		overflow: hidden;

		.data-item {
			/*display: inline-block;*/
			display: block;
			float: left;
			padding: 5px 0px;
			margin: 10px 0px;
			padding-right: 15px;
			margin-right: 25px;
			font-size: (@font_size_normal + @font_size_normal_small) / 2 - 2px;
			color: #bbb;
			&.material-date {
				line-height: 25px;
			}
		}

		.material-date,
		.material-time {
			border-right: 1px dotted #ddd;
		}

		.material-time {
			margin-left: -10px;
			
			.time {
				/*font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;*/
				color: #bbb;
				display: inline-block;
			}

			.status {
				display: inline-block;
				color: #aaa;
				border: 1px solid #cddbe3;
				.border-radius(2px);
				border-radius: 2px;
				padding: 4px 9px 3px;
				margin: -5px 0px 0px 5px;
				font-size: @font_size_normal_small + 1px;
			}			
		}

		.material-regions {
			max-width: 574px;
		}
	}

	iframe, img {
		border: 4px solid #fff;
		.box-shadow(0px 0px 2px 0px rgba(0, 0 ,0, 0.2));
		margin-bottom: 10px;
	}

	.photo_big {
		position: relative;

		.photo_prev,
		.photo_next {
			position: absolute;
			top: 250px;
			background-position: center center;
			background-repeat: no-repeat;
			width: 31px;
			height: 90px;
			padding: 15px 20px;
			background-color: rgba(0, 0, 0, 0.5);	
			cursor: pointer;
		}

		.photo_prev {
			left: 4px;
			background-image: url("@{path_images}gallery_arrow-prev.png");
			.border-radius(0px 5px 5px 0px);
		}

		.photo_next {
			left: auto;
			right: 2px;
			background-image: url("@{path_images}gallery_arrow-next.png");
			.border-radius(5px 0px 0px 5px);
		}
	}

	.photo_big_author {
		position: absolute;
		left: 15px;
		bottom: 30px;
	}

	.photo_smallphotos {
		float: left;
		width: 724px;
		height: auto;
		padding: 10px 0px 5px 8px;
		background: #f2f2f2;
		overflow: inherit;

		div {
			padding-top: 0px;
			padding-right: 6px;
			width: auto;
			height: auto;

			img {
				width: 85px;
				height: auto;
				border: 4px solid #fff;
			}
		}
	}

	.download-album-block {
		float: right;

		.download {
			display: block;
			margin-top: 5px;
			margin-bottom: 10px;
			background-color: rgb(0, 147, 221);
			color: #fff;
			width: 180px;
			padding: 10px 0px;
			text-align: center;
			text-decoration: none;
			-webkit-border-radius: 2px;
			-khtml-border-radius: 2px;
			-moz-border-radius: 2px;
			-ms-border-radius: 2px;
			-o-border-radius: 2px;
			border-radius: 2px;
		}

		.download:hover {
			/*color: rgb(0, 147, 221);*/
		}

		.download:active {
			border-color: rgb(0, 147, 221);
		}

		.size {
			color: #bbb;
		}
	}
}

.standart_shablons__commission_detail .material_page_wrapper .material-system-data {
    margin-top: -25px;
}

.clearer {
	clear: both;
	width: 100%;
}

.text_material {
	.news-photo,
	.news-video {
		float: left;
		margin: 0px 25px 15px 2px; 

	}


	h2,
	h3,
	h4,
	h5 {
		font-family: @font_medium;
		font-weight: normal;
		margin: 10px 0px;
	}

	h2 {
		font-size: @font_size_normal + 4px;
	}

	h3 {
		font-size: @font_size_normal + 2px
	}

	h4 {
		font-size: @font_size_normal;
	}

	h5 {
		font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
	}

	ul,
	ol {
		margin: 4px 0px;
	}

	.block-doclist {
		width: 100%;
		clear: both;
		overflow: hidden;

		h3 {
			text-transform: none;
		}

		.download_all {
			display: none;
		}

		.doc {
			padding-bottom: 5px;
		}

		.bottom-link {
			display: inline-block;
			margin-top: 20px;
			margin-left: 0px;
			background-color: rgb(0, 147, 221);
			border-color: rgb(0, 147, 221);
			color: #fff;
			width: auto;
			padding: 0.25em 0.5em;
			line-height: 1.5;
			height: 2em;
			text-align: center;
			text-decoration: none;
			-webkit-border-radius: 2px;
			-khtml-border-radius: 2px;
			-moz-border-radius: 2px;
			-ms-border-radius: 2px;
			-o-border-radius: 2px;
			border-radius: 2px;
		}

		.bottom-link:hover {
			/*color: rgb(0, 147, 221);*/
			color: #f5f5f5;
		}
	}
}

.material_page {
	h1.fixed {
		position: fixed;
		z-index: 200;
		left: 0px;
		top: 44px;
		/*top: 0;*/
		width: 100%;
		background-color: rgba(255, 255, 255, 0.9);
		padding: 15px 0px;
		margin: 0;

		.wrapper {
			display: block;
			width: 804px;
			margin: 0 auto;
			padding: 0px 30px;
			padding-right: 200px;
		}
	}

	.activity-buttons.fixed {
		position: fixed;
		z-index: 210;
		/*top: 72px;*/
		top: 15px;
		right: 50%;
		margin-right: -464px; 
	}

	.body {
		margin-top: 40px;
		border-top: 1px solid #bbb;
		padding: 15px 0px;
		clear: both;

		.news-keywords {
			display: none;
		}
	}	
}


h2.today-announces {
	text-transform: uppercase;
	/*border-bottom: 1px solid #bbb;*/
	padding-bottom: 4px;
}

.filtered-materials-list.inner-materials-list {
	.doubleblock {
		margin: 0;
	}
}

.f_materials_1 {
	h1 {
		display: none;
	}

	.main_wrapper {
		margin-bottom: 50px;
	}
}

.material_page {
	.news-photos,
	.news-videos {
		float: left;
		width: 290px;
		margin-right: 20px;

		.news-photo,
		.news-video {
			float: none;
		}
	}
}

.news-video {
	display: inline-block;
	position: relative;

	&:after {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		/*margin-left: -17px;*/
		/*margin-top: -17px;*/
		display: block;
		content: " ";
		background: url("@{path_images}play.png") center center no-repeat;
	}
}

#book-search-form {
	position: absolute;
	right: 28px;
	top: 83px;

	input {
		width: 150px;
		display: inline-block;
		border: 1px solid #ddd;
		outline: none;
		.border-radius(3px);
		font-family: @font_roman;
		font-size: (@font_size_normal + @font_size_normal_small) / 2 - 2px;
		padding: 5px 10px;
	}

	input.button {
		width: 60px;
		text-align: center;
		background-color: #fff;
		color: #bbb;
		cursor: pointer;
	}

	input.button:hover {
		border-color: @color_blue_link;
		color: @color_blue_link;
	}

	input.button:active {
		background-color: @color_blue_link;
		border-color: @color_blue_link;
		color: #fff;
	}
}

#tabs {
	border: none;
	.border-radius(0px);
	z-index: 5 !important;

	ul {
		list-style: none;
		list-style-image: none;
		background: transparent;
		border: none;
		text-align: center;

		li.tab-link:after,
		li.tab-link:before {
			display: none;
		}

		li.tab-link {
			width: 2.34%;
			padding: 5px 2px;
			margin-bottom: 0px;
			.border-radius(3px 3px 0px 0px);

			a {
				display: inline-block;
				width: 100%;
				padding: 0;
				text-align: center;
				font-family: @font_roman;
				font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
				font-weight: normal;
				text-transform: uppercase;

			}			
		}

		li.tab-link.ui-tabs-active,
		li.tab-link.ui-state-active {
			border-color: #ccc;
			background-color: #fff;
			border-bottom: 1px solid #fff;
			/*padding-bottom: 1px;*/
			margin-bottom: -1px;

			a {
				color: #000;
			}
		}

		li.tab-link:hover {
			border-color: @color_blue_link;
			background-color: @color_blue_link;
			a {
				color: #fff;
			}
		}		
	}

	.ui-tabs-panel {
		width: auto;
		height: auto;
		min-height: 100px;
		/*overflow: hidden;*/
		border-top: 1px solid #ddd;
		text-align: center;
		background: url("/images/bx_loader.gif") center 30px no-repeat;

		ul.column {
			vertical-align: top;
			display: inline-block;
			margin: 20px 10px;
			text-align: left;
			font-size: (@font_size_normal + @font_size_normal_small) / 2 - 2px;
			max-width: 270px;
		}
	}

	.letter-tab {
		min-height: 100px;
		background: #fff;
	}
}

.date-dialog-reset-link,
.contentblock.search-results .date-dialog-reset-link {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin: 0px 5px;
	overflow: hidden;
	font-size: 0;
	text-indent: 99999px;
	background: url("@{path_images}small_blue_cross.png") center center no-repeat;
	border-bottom: none;
	text-decoration: none;
}

.on-top {
	display: none;
	position: fixed;
	z-index: 999;
	bottom: 100px;
	right: 100px;
	width: 45px;
	height: 45px;
	background: url("@{path_images}to-top.png") top center no-repeat;
	.box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.2));

	span {
		display: none;
	}
}

.on-top:hover,
.on-top:active {
	background-color: rgba(0, 0, 0, 0.2);
}

.normalblock.ministry:nth-child(2n) {
  border-right: 0;
}
.gov-reports .text-content {
  margin: 0 0 2em;
}
.main_material_list_content a {
  color: #000;
}
.main_material_list_content a,
.main_material_list_content a:hover {
  text-decoration: none;
}

@media (max-width: 1320px) {
	.on-top {
		right: 40px;
	}
}

@media (max-width: 1200px) {
	.on-top {
		right: 15px;
	}
}

@media (max-width: 1140px) {
	.on-top {
		display: none;
	}
}

.mainpage_content {
	.m1_topban {
		float: left;
		width: 928px;
		margin: 28px;
		margin-bottom: 0px;
		height: 302px;
		.box-shadow(none);
		/*border: 1px solid;*/
		overflow: hidden;

		.main_news,
		.main_photo,
		.main_quote {
			position: relative;
			float: left;
			top: auto;
			left: auto;
		}

		.main_news {
			width: 290px;
			height: auto;
			padding: 5px;
			border: 1px solid #ddd;
			.border-radius(3px 0px 0px 3px);
			border-right: none;
			z-index: 10;

			.option {
				position: relative;
				display: block;
				height: 70px;
				padding: 10px;
				text-decoration: none;
				vertical-align: middle;

				.date {
					display: block;
					padding-top: 4px;
					font-size: @font_size_normal_small + 1px;
					color: #ccc;
				}
			}

			.option:hover,
			.option.active,
			.option.active:hover {
				background-color: @color_americop_blue;

				&:after {
					position: absolute;
					right: -14px;
					left: auto;
					top: 50%;
					margin-top: -12px;
					display: block;
					content: " ";
					width: 14px;
					height: 25px;
					background: url("@{path_images}main_news_arrow.png") 50% 50% no-repeat;
					border: none;
					z-index: 10;
				}

				&:before {
					display: none;
				}

				.date {
					color: #fff;
				}
			}
		}

		.main_photo {
			width: auto;
			height: auto;
			padding: 5px 5px 5px 0px;
			border: 1px solid #ddd;
			border-left: none;
			.border-radius(0px 3px 3px 0px);

			a {
				display: block;
				width: 311px;
				height: 268px;
				text-align: center;
				overflow: hidden;

				img {
					min-width: 310px;
					min-height: 270px;
				}
			}
		}

		.main_quote {
			float: right;
			display: block;
			width: 288px;
			color: #000;
			text-decoration: none;
			min-height: 280px;
			
			.top-text {
				display: block;
				min-height: 153px;
				padding: 20px 24px;
				border: 1px solid #ddd;
				.border-radius(2px);
				font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
				margin-bottom: 18px;
			}

			.title {
				display: block;
				font-family: @font_medium;
				padding-bottom: 14px;
			}

			.date {
				display: none;
				font-size: @font_size_normal_small + 1px;
				color: #bbb;
				padding-bottom: 8px;
			}

			.text {
				line-height: 2em;
			}

			.governor-signature {
				position: absolute;
				left: 60px;
				bottom: 10px;
				padding-top: 15px;
				padding-right: 14px;
				float: right;
				font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
				overflow: hidden;

				strong {
					display: block;
					font-family: @font_bold;
					font-weight: normal;
					padding-bottom: 3px;
				}

			}

			img {
				position: absolute;
				left: 00px;
				bottom: 0px;				
				float: left;
				width: 45px;
				margin-top: 13px;
				border: 1px solid #fff;
				.box-shadow(0px 0px 3px 0px rgba(0, 0, 0, 0.3));
			}
		}
	}


	#tabs {
		.ui-tabs-nav {
			padding-left: 0px;
		}

		.tab-link {
			width: auto;
			//padding: 15px;
			//margin-right: 10px;
			padding: 15px 11px;
			border: none;
			background: transparent;
			outline: none;

			a {
				font-family: @font_medium;
				font-size: @font_size_normal + 2px;
				line-height: 20px;
				color: @color_blue_link;
				border-bottom: 1px dotted;
			}

			a.red {
				color: #ff0000!important;
			}
		}

		.tab-link:hover {
			background-color: #f0f0f0;
			.border-radius(0px);

			a {
				color: #000;
			}
		}

		.tab-link.ui-tabs-active,
		.tab-link.ui-tabs-active:hover {
			background: #fff;
			border: 1px solid #ddd;
			.border-radius(0px);

			a {
				border-bottom: 1px dotted #fff;
			}
		}

		.tab-content {
			background-image: none;
			text-align: inherit;
			/*border-top: none;*/
			padding: 0px;

			.empty {
				text-align: center;
				padding: 20px 0px;
			}
		}
	}

	.doubleblock.main {
		.doubleright {
			padding-top: 28px;
		}
	}

	.m1_gprog {
		/*padding: 0px 28px;*/
		padding-bottom: 0px;

		h2 {
			font-size: @font_size_normal + 2px;
			font-family: @font_medium;
			text-transform: uppercase;
			color: @color_blue_link;
			border-bottom: 1px solid #ddd;
			padding-bottom: 5px;
			margin-bottom: 25px;
		}
	}

	.m1_grpog_title a {
		text-decoration: none;
	}

	.m1_gprog-slider-nav {
		position: relative;
		width: 948px;
		height: 0px;
	}

	.main_groups_pages, .guber_groups_pages {
		display: none;
		position: absolute;
	}

	.main_groups_arrows {
		position: absolute;
		right: 0px;
		top: -60px;
		
		a {
			display: inline-block;
			width: 25px;
			height: 25px;
			background-image: url("@{path_images}slider_arrows.png");
			background-repeat: no-repeat;
		}		

		a.prev {
			background-position: 0px 0px;
		}

		a.prev:hover,
		a.prev:active {
			background-position: 0px -25px;
		}

		a.next {
			background-position: -25px 0px;
		}

		a.next:hover,
		a.next:active {
			background-position: -25px -25px;
		}
	}

	.m1_gprogkar {
		width: 928px;
		margin: 0px 28px 30px;
		.box-shadow(none);
		/*overflow: hidden;*/
	}

	.main_gprogs {
		width: 936px;
		height: 200px;
		margin-left: -3px;

		.main_gprogs_scroll {
			height: auto;
		}

		.governor-programm {
			width: 282px;
			height: 185px;
			display: block;
			float: left;
			position: relative;
			z-index: 0;
			cursor: pointer;
			border: 5px solid #fff;
			.box-shadow(0px 0px 2px 0px rgba(0, 0, 0, 0.2));
			margin-top: 2px;
			margin-left: 2px;
			margin-right: 25px;
			overflow: hidden;

			img {
				width: 282px;
				/* position: absolute; */
				z-index: -1;
				border: none;
				outline: none;
			}

			span {
				display: block;
				width: 100%;
			}

			.outer {
				z-index: 1; 
				line-height: 185px;
			}

			.middle {
				display: inline-block;
				height: 185px;
				vertical-align: bottom;
				line-height: 1.2;
			}

			.inner {
				display: table-cell;
				height: 185px;
				color: #fff;
				font-size: @font_size_normal;
				vertical-align: bottom;
				/*width: 230px;*/
				/*margin: 8px;*/
			}

			.caption {
				display: table-cell;
				width: 282px; 
				font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
				text-align: left;
				padding: 5px 30px;
				/*margin: 0 8px;*/
				background: rgba(0,0,0,0.4);
				border-radius: 0px;
				height: 100px;
				vertical-align: middle;
			}
		}
	}

	.m1_bigban {
		width: 610px;
		overflow: hidden;
	}

	.m1_smallban {
		margin-left: -6px;
		width: 292px;
	}

	.banners {
		padding-bottom: 0px;

		.doubleleft {
			margin-bottom: 20px;
		}
	}
}

.f_materials_1 {
	#block-list-date-filter--1,
	#block-keyword-filter--1,
	#block-region-filter--1 {
		display: none;
	}
}

.content.main {
	.jq-selectbox__dropdown {
		ul {
			li {
				list-style: none;
				list-style-image: none;

				&:before,
				&:after {
					display: none;
				}
			}
		}
	}
}

#vote_form,
.block-voting {
	.jq-radio {
		width: 20px;
		height: 20px;
		cursor: pointer;
		background: url("@{path_images}radio-unchecked.png") 0px 0px no-repeat;
		border: none;
		outline: none;
		box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
		-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
		-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
	}
	.jq-radio.checked {
		background: url("@{path_images}radio-checked.png") 0px 0px no-repeat;
		box-shadow: inset 0 0 0 1px rgba(0,147,212,0.5);
		-webkit-box-shadow: inset 0 0 0 1px rgba(0,147,212,0.5);
		-moz-box-shadow: inset 0 0 0 1px rgba(0,147,212,0.5);

		.jq-radio__div {
			display: none;
		}
	}
}

.material-type-19 {
	h1 {
		padding-bottom: 70px;
	}

	.get-accreditation {
		position: absolute;
		top: -58px;

		.get-button {
			display: block;
			float: left;
			padding: 12px 20px;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
			background-color: @color_blue_link;
			.border-radius(2px);
			margin-right: 20px;
		}

		.accr-enddate {
			display: block;
			float: left;
			background: url("@{path_images}clock.png") center left no-repeat;
			padding: 3px 0px 0px 40px;
			margin-left: 5px;
		}
	}
}

.rkicons {
	width: 174px;
	height: 140px;
	margin: 5px;
}

.link-devel {
	width: 140px;
	height: 140px;
	display: table-cell;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	color: #000;
}

#vote_form {
	font-family: @font_roman;
	font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;

	.widget-news-link-blue {
		margin: 20px 10px;
	}

	.submit-blue-button {
		width: 290px;
		height: 40px;
		background-color: @color_blue_link;
		color: #fff;
		border: none;
		outline: none;
		.border-radius(2px);
		font-family: @font_roman;
		font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
		text-transform: uppercase;
		cursor: pointer;
	}
}

.material_page_wrapper {
	.news-photos-microgallery {
		.photo_big_author {
			font-size: @font_size_normal_small;
		}

		.photo_big {
			.photo_prev,
			.photo_next {
				background: url("@{path_images}carousel-arrows.png") 0px -53px no-repeat;
				width: 28px;
				height: 53px;				
				padding: 0;
				.border-radius(0px);
				top: 70px;
			}

			.photo_next {
				right: 6px;
				background-position: -28px -53px;
			}

			.photo_prev:hover,
			.photo_prev:active {
				background-position: 0px -106px;
			}

			.photo_next:hover,
			.photo_next:active {
				background-position: -28px -106px;
			}
		}

		.photo_smallphotos {
			width: 280px;
			margin-top: -12px;
			margin-bottom: 40px;

			div {
				img {
					width: 51px;
				}
			}
		}
	}
}

.f_materials_4_65_241 {
	h1 {
		width: 984px - 160px;
		height: 203px - 20px;
		margin: 0;
		margin-top: -1px;
		padding: 20px 0px 0px 160px;
		background: url("@{path_images}memory-book.jpg") 0px 0px no-repeat;
		color: #fff;
		font-family: Arial;
		font-size: @font_size_normal * 1.5 + 3px;
		border-top: none;
		border-bottom: none;
	}

	#tabs {
		padding-top: 0px;
		background-color: transparent;

		.letter-tab,
		.ui-tabs-panel {
			border-top: none;
		}

		li.tab-link:hover {
			border-color: rgb(100, 0, 0);
			background-color: rgb(200, 69, 69);
			background-color: rgb(150, 0, 0);
			
			a {
				color: #fff;
			}
		}
	}

	.ui-tabs-nav {
		padding-top: 0px;
		margin-top: -32px;
		font-size: 0;

		li {
			display: inline-block;
			float: none;
			border-bottom: none;
			background: rgba(255,255,255,0.6);
			margin-left: 2px;
			margin-right: 1px;

			a {
				color: #000;
			}
		}

	}

	#book-search-form {
		.button,
		#book-search-field {
			font-family: Arial;
			font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
		}

		#book-search-field {
			border-color: #90a3c0;
		}

		.button,
		.button:hover,
		.button:active {
			width: 64px;
			border-color: #807367;
			color: #000;
			background: #927536; /* Old browsers */
		}

		.button {
			background: #927536; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #927536 8%, #ffffff 65%, #ffffff 65%, #ffffff 68%, #fae787 81%); /* FF3.6+ */
			background: -webkit-gradient(linear, left bottom, right top, color-stop(8%,#927536), color-stop(65%,#ffffff), color-stop(65%,#ffffff), color-stop(68%,#ffffff), color-stop(81%,#fae787)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(45deg,  #927536 8%,#ffffff 65%,#ffffff 65%,#ffffff 68%,#fae787 81%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(45deg,  #927536 8%,#ffffff 65%,#ffffff 65%,#ffffff 68%,#fae787 81%); /* Opera 11.10+ */
			background: -ms-linear-gradient(45deg,  #927536 8%,#ffffff 65%,#ffffff 65%,#ffffff 68%,#fae787 81%); /* IE10+ */
			background: linear-gradient(45deg,  #927536 8%,#ffffff 65%,#ffffff 65%,#ffffff 68%,#fae787 81%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#927536', endColorstr='#fae787',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			-webkit-transition: all 1s ease-out 0.5s;
			-khtml-transition: all 1s ease-out 0.5s;
			-moz-transition: all 1s ease-out 0.5s;
			-ms-transition: all 1s ease-out 0.5s;
			-o-transition: all 1s ease-out 0.5s;
			transition: all 1s ease-out 0.5s;
		}

		.button:hover {
			background: #927536; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #927536 8%, #ffffff 62%, #ffffff 65%, #fae787 81%); /* FF3.6+ */
			background: -webkit-gradient(linear, left bottom, right top, color-stop(8%,#927536), color-stop(62%,#ffffff), color-stop(65%,#ffffff), color-stop(81%,#fae787)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(45deg,  #927536 8%,#ffffff 62%,#ffffff 65%,#fae787 81%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(45deg,  #927536 8%,#ffffff 62%,#ffffff 65%,#fae787 81%); /* Opera 11.10+ */
			background: -ms-linear-gradient(45deg,  #927536 8%,#ffffff 62%,#ffffff 65%,#fae787 81%); /* IE10+ */
			background: linear-gradient(45deg,  #927536 8%,#ffffff 62%,#ffffff 65%,#fae787 81%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#927536', endColorstr='#fae787',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			-webkit-transition: all 1s ease-out 0.5s;
			-khtml-transition: all 1s ease-out 0.5s;
			-moz-transition: all 1s ease-out 0.5s;
			-ms-transition: all 1s ease-out 0.5s;
			-o-transition: all 1s ease-out 0.5s;
			transition: all 1s ease-out 0.5s;
		}

		.button:active {
			background: #927536; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #927536 8%, #ffffff 56%, #ffffff 60%, #fae787 81%); /* FF3.6+ */
			background: -webkit-gradient(linear, left bottom, right top, color-stop(8%,#927536), color-stop(56%,#ffffff), color-stop(60%,#ffffff), color-stop(81%,#fae787)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(45deg,  #927536 8%,#ffffff 56%,#ffffff 60%,#fae787 81%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(45deg,  #927536 8%,#ffffff 56%,#ffffff 60%,#fae787 81%); /* Opera 11.10+ */
			background: -ms-linear-gradient(45deg,  #927536 8%,#ffffff 56%,#ffffff 60%,#fae787 81%); /* IE10+ */
			background: linear-gradient(45deg,  #927536 8%,#ffffff 56%,#ffffff 60%,#fae787 81%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#927536', endColorstr='#fae787',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			-webkit-transition: all 1s ease-out 0.5s;
			-khtml-transition: all 1s ease-out 0.5s;
			-moz-transition: all 1s ease-out 0.5s;
			-ms-transition: all 1s ease-out 0.5s;
			-o-transition: all 1s ease-out 0.5s;
			transition: all 1s ease-out 0.5s;
		}
	}
}

.material_page_wrapper {
	.bigcalend_header {
		.photo_prev,
		.photo_next {
			top: 15px;
		}

		.photo_prev {
			left: -42px;
		}

		.photo_next {
			left: auto;
			right: -42px;
		}
	}
}

.material-type-important {
	.doubleblock {
	  padding-top: 14px;
	  padding-bottom: 0;
	  line-height: 22px;
	}
	.photo_big {
	  margin-top: 6px;
	}
	.doubleblock p:first-of-type {
	  padding-left: 310px;
	}
	.doubleblock {
	  p,
	  ul,
	  ol {
		margin-bottom: 15px;
	  }
	  p + ul,
	  p + ol {
		margin-top: -10px;
	  }
	  h2 {
		font-size: @font_size_normal - 1px;
		margin-top: 20px;
		padding-bottom: 0;
		margin-bottom: 10px;
	  }
	}

	p.highlight {
		background-color: #cce9f8;
		border-left: 3px solid #0093dd;
		padding: 10px 10px 8px 19px;
		text-transform: uppercase;
	}
	.material_page_wrapper .activity-buttons {
	  	margin-top: 28px;
	}
}
.contact-info-description {
  margin-top: -7px;
  margin-bottom: 5px;
}
.press-footer {
	margin-top: 10px;
	padding-top: 11px;
	color: #d3d4d6;
	border-top: 1px solid #d3d4d6;
	margin-bottom: 10px;
	padding-left: 38px;
	background: transparent url(/images/sweet.png) no-repeat 6px 15px;
}
.social-links {
	position: fixed;
	right: 8px;
	top: 50%;
	margin-top: -215px;
	height: 262px;
	width: 56px;
	border: 1px solid transparent;
	.border-radius(8px);
	z-index: 300;

	a {
	  display: block;
	  width: 40px;
	  height: 40px;
	  margin: 6px auto 12px;
	}
}
.bigcalend_header_date {
  position: absolute;
  top: 13px;
  width: 926px;
  text-align: center;
  font-size: @font_size_normal * 1.5 + 3px;
}
.bigcalend_header_numev {
  position: absolute;
  top: 55px;
  width: 926px;
  text-align: center;
  font-size: (@font_size_normal + @font_size_normal_small) / 2;
  color: #7c7c7c;
}
.content.main .material-type-important ul li {
  padding-left: 16px;
  text-indent: -16px;
}

.gover_option {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 0.85em 1em;

	&:hover,
	&.focus,
	&.active {
		background-color: #4991c7;
		color: #FFF;
	}
	
	&.l2 {
		font-size: (@font_size_normal + @font_size_normal_small) / 2 - 2px;
		&::before {
			content: " ‒ ";
		}
		&.active {
			background-color: #4991c7;
		}
	}
}

.doubleleft .gover_option {
	color: #000;
}

.calend-small {
  .calend-base {
	position: absolute;
	top: 20px;
	left:20px;
  }
  .calend-month {
	position: absolute;
    font-size: @font_size_normal_small - 1px;
    top: 21px;
    left:25px;
    width: 60px;
    text-align: center;
  	color: #ffffff;
  }
  .calend-day {
	position: absolute;
	 font-size: @font_size_normal + 4px;
	 top: 45px;
	 left:25px;
	 width: 60px;
	 text-align: center;
  }
}

.comissions-element {
  .item-info {
	width: 355px;
	padding:10px;
  }
  .item-announce {
	color: gray;
	font-size: @font_size_normal_small;
  }
  img {
	padding-right: 10px;
  }
  .item-contacts {
	width: 285px;
	padding:10px;
	.req {
	  font-size: @font_size_normal_small;
	}
  }
}

.commissions-element {
	margin-bottom: 1.5em;
	.mt-image img {

	}
}
.governor_biography_header {
	padding:10px;
	min-height: 170px;
	height: auto;
	display: block;
	border: 1px solid #ddd;
	width: 100%!important;
}
.doubleblock {
	margin: 0;
	width: 100%;
	padding-bottom: 0;

	.doubleleft {
		border:0 none;
		margin: 0 14px 0 0;
		padding: 10px 10px 10px 28px;
	}
	.doubleright {
		border: 0 none;
		padding: 10px 0 10px 5px;
	}
}

.photo_list.squared {
	width: 211px;
	height: 211px;
	margin: 0 22px 22px 0;
}
.photo_list.squared:nth-of-type(4n) {
	margin-right: 0;
}
.content.main .project-list .content-index li {
    margin-bottom: 1em;
}
.project-list .link-all {
	display: block;
	clear: both;
	margin-top: 20px;
}

.content_selector_1 {
	position: relative;
	height: 39px;
	/*width: 344px; */

	margin: 0 0 30px 0;
	/*padding: 0 10px 0 0px; padding-left: 10px */
	line-height: 39px;
	color: #999999;
}
.vidget_photo_content {
	margin: 30px 0;
	overflow: hidden;
	.normalblock {
		cursor:pointer;
		padding: 0 3px 10px 35px;
		width:289px;
		.image_container_icon_middle {
			padding: 61px 0 0 117px;
		}
	}
}
.vidget_online_content {
	display: none;
	margin: 30px 0 0 0;
}
.vidget_video_content {
	display: none;
}
.governor-speech-index {
	.vidget_photo_video {
		top: -10px;
		.spacer {
			display: none;
		}
	}
	.vidget_photo_content {
		margin-top: 20px;
		.normalblock {
			padding: 0;
			margin: 0;
			float: left;
			& + .normalblock {
				margin-left: 34px;
			}
		}
	}
	.doubleleft,
	.doubleright {
		padding-top: 0;
	}
	.main_quote {
		position: static;
		overflow: hidden;
		margin-top: 21px;
		cursor: pointer;
		.hover {
			overflow: hidden;
			margin-bottom: 1em;
			font-size: (@font_size_normal + @font_size_normal_small) / 2;
			.quote-text::before {
				content: "« ";
				color: #969696;
				font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
			}
			.quote-text::after {
				content: " »";
				color: #969696;
				font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
			}
			p {
				font-size: @font_size_normal_small - 1px;
			}
		}
		.governor-title {
			font-size: @font_size_normal_small + 1px;
			line-height: 17px;
		}
		.xmedia {
			float: left;
			margin: 0 1em 1em 0;
		}
	}
	.main_important_header {
		padding-left: 20px;
	}
	.doubleright {
		width: 275px;
		padding-left: 24px;
	}
	.main_material_list {
		margin-left: 0;
		width: auto;
	}
	.material_list_name {
		font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
	}
	.widget-news-link-blue {
		margin: 20px 20px 20px 0;
	}
	.speech-items {
		margin-top: 30px;
	}
	.main_quote_link {
		text-decoration: none;
	}
}
.filtered-materials-list .content-block .activity-buttons {
	margin-top: 5px;
	margin-right: 0;
}
.news_material .content-block .activity-buttons {
	margin-top: 6px;
}
.f_materials_7_129_131_141 .activity-buttons,
.regulations .activity-buttons{
	margin-top: 27px;
}

.breadcrumbs {
	.box-sizing(border-box);
	.crumbs-wrap {
		display: inline-block;
		padding: 6px;
		margin-left: -10px;
		a {
			display: inline-block;
			padding: 4px;
		}
	}
}

.material_list {
	display: block;
	padding: 8px 0;
	overflow: hidden;
	clear: both;
}
.material_list_image {
	margin: 0 20px 15px 0;
}
.material_list_name,
.material_list_anons {
	padding: 9px 0;
}
.news-list-old {
	.material_list_image {
		float: left;
	}
	.material_list_content {
		padding-left: 188px;
		display: block;
	}
}
.material_list_content {
	margin: 5px;
	.date-pub {
		text-align: right;
		color: #959595;
		font-size: @font_size_normal_small - 1px;
		float: right;
	}
}
.material_list_anons {
	display: block;
}
.material_list_name {
	padding-bottom: 9px;
	font-size: @font_size_normal_small + 1px;
}
.content a.material_list,
.content a.material_list:hover {
	text-decoration: none;
}
a.material_list .material_list_name {
	text-decoration: underline;
}
.standart_shablons__news_list_old .content-block .doubleblock {
	.doubleleft {
		width: 623px;
		.material_list_content {
			width: 100%;
		}
		.material_list {
			width: 100%;
			& + .material_list {
				border-top: 1px solid #e0e0e1;
			}
		}
	}
	.doubleright {
		width: 275px;
	}
}

.governor-header {
	width: 100%;
	border-left: 0;
	width: 100%;
	margin-bottom: 20px;
}

div.content div.governor-body {
	background-color: #FFF;
	.doubleleft {
		padding-top: 0;
		padding-right: 0;
		margin-right: 0;
		border-right: 1px solid @color_layout_border;
		width: 666px;
		box-sizing: border-box;
		.box-shadow-none;
		.column-body {
			padding-right: 20px;
			.widget-news-element {
/*				width: auto;*/
                width: 50%;
                float: left;
                .box-sizing(border-box);
                margin-left: 0;
                padding-left: 30px;
                &:nth-child(2n + 1) {
                    clear: left;
                }
			}
		}
		.column-header {
			.box-shadow-none;
		}
		.column-trailer {
			padding: 20px 20px 20px 30px;
			border-top: 1px solid @color_layout_border;
			margin-top: 20px;
		}
		.vidget_photo_video {
			margin-top: -20px;
			.spacer {
				display: none;
			}
		}
		.vidget_photo_content {
			.normalblock {
				padding-left: 0;
				padding-right: 0;
				float: left;
				& + .normalblock {
					margin-left: 25px;
				}
			}
		}
	}
	.doubleright {
		border-left: 0 none;
		margin-left: 0;
		padding-left: 0;
		width: 316px;
		box-sizing: border-box;
		.box-shadow-none;
		padding-top: 20px;
		.column-body {
			padding: 0 20px;
			.xmedia {
				margin-bottom: 25px;
				margin-left: auto;
				margin-right: auto;
				&.s270 {
					width: 270px;
					float: none;
				}
			}
		}
	}
}

#governor-header-left
{
	float: left;
	width: 447px;
	height: 296px;
}

#governor-header-right
{
	width: 475px;
	float: right;
	padding: 40px 30px 30px 30px;
}

#governor-header-right-date
{
	margin-bottom: 20px;
	font-size: (@font_size_normal + @font_size_normal_small) / 2 - 2px;
	color: #DF4848;
}

#governor-header-right-name
{
	margin-bottom: 15px;
}

#governor-header-right-name a
{
	line-height: 1.2;
	font-size: @font_size_normal + 2px;
	color: #005392;
	text-decoration: none;
	cursor: pointer;
}

#governor-header-right-name a:hover
{
	text-decoration: underline;
}

#governor-header-right-anons
{
	margin-bottom: 20px;
}

#governor-header-right-link a
{
	padding: 8px 10px;
	font-size: @font_size_normal_small + 1px;
	color: #0071AA;
	text-decoration: none;
	background: #C5D4DC;
	cursor: pointer;
}

#governor-header-right-link a:hover
{
	/* TODO */
}

#governor-income
{
	padding: 25px;
	font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
	color: #fff;
	background: #005392;
	cursor: pointer;
}

.vidget_photo_content {
	.vidget_name {
		color: #000;
	}
	a.normalblock {
		text-decoration: none;
	}
}

#governor-content {}

#governor-name
{
	font-size: @font_size_normal;
	line-height: 22px;
}

#governor-post,
#governor-date
{
	margin-top: 20px;
	font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
	color: #464749;
}

.content-block h1 + .material-system-data {
	margin-top: -30px;
}

.content-related {
	margin: 30px 0;
}

.block-left-sidebar {
	padding-left: 268px;
	box-sizing: border-box;
	overflow: hidden;
	.sidebar {
		padding:0px;
		margin-right: 0;
		width: 268px;
/*		min-height: 260px; */
		height: auto;
		background-color: #01527d;
		float: left;
		margin-left: -268px;
		border-left: 1px solid transparent;
		border-bottom: 1px solid #000;
		border-top: 1px solid #01527d;
		border-bottom: 1px solid transparent;
		.sidebar-info {
			/*margin-top: 1em;*/
			border-top: 1px solid transparent;
			background-color: #F0F0F0;
			border-right: 1px solid #000;
			padding: 25px;
			h4 {
				margin-top: 1em;
			}
		}
	}
	.content-body {
		padding:25px 0 30px 30px;
		width: 660px;
		border: none;
		min-height: 200px;
		height: auto;
		margin: 0;
		min-height: 430px;
	}
}

a.material_list {
	display: block;
	clear: both;
}

.xauthorities {
	min-height: 675px;
	.material_list {
		padding: 20px 0;
		overflow: hidden;
		width: auto;
		display: block;
		& + .material_list {
			border-top: 1px solid #bababa;
		}
		.normalblock {
			display: block;
		}
	}

	.image_container {
		width:60px;
		height: auto;
		max-height: 80px;
		min-height: 0;
		overflow: hidden;
		float: left;
		margin: 0 1em 1em 0;
	}

	.material_list_name {
		/*
		position: absolute;
		top: -116px;
		width: 550px;
		left: 88px;
		*/
	}
	.m6_75_76_text {
		/*
		position: absolute;
		top: -75px;
		width: 550px;
		left: 88px;
		*/
		font-size: @font_size_normal_small - 1px;
		color:#666666;
	}
	.governor_biography {
		width: auto;
		padding: 0 5px 0 5px;
	}
}

.file_list_item {
	position: relative;
	height: auto;
	padding: 0 0 0 35px;
	color: #00669f;
	cursor: pointer;
	min-height: 32px;
	margin: 1em 0;
}

.file_list_item:before{
	content: '';
	position: absolute;
	top:0px;
	left: -4px;
	width: 26px;
	height: 32px;
	background-size: 26px;
	background: url('/templates/khabkrai/img/download.png') 100% 100% no-repeat;
	background-size: cover;

}

.file_list_item:hover {
	text-decoration: underline;
}

.file_list_item_small {
	position: relative;
	height: auto;
	padding: 0 0 0 35px;
	color: #00669f;
	cursor: pointer;
	min-height: 32px;
	margin: 1em 0;
	.xdate {
		font-size: @font_size_normal_small - 1px;
		color:#999999;
		padding: 6px 0 10px 0;
		display: block;
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: underline;
		}
	}
}

.file_list_item_small:before {
	content: '';
	position: relative;
	display: inline-block;
	float: left;
	margin: 0 10px 0px 0;
	top: 0px;
	left: 0px;
	width: 26px;
	height: 32px;
	background-size: 26px;
	background: url('/templates/khabkrai/img/download.png') 100% 100% no-repeat;
	background-size: cover
}

.content-main,
.content-text,
.content-tags,
.content-attachments,
.content-related {
	border-bottom: 1px solid #DDD;
	padding-bottom: 25px;
}

.content-body,
.content-text {
    p,
    ul,
    ol {
        margin-bottom: 1.5em;
    }
    li {
        margin-bottom: 1em;
    }
}

.content-text::after {
    content:" ";
    display: block;
    clear: both;
}

.ministry-section {
	overflow: hidden;
}
.ministry {
	height: 180px;
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding: 15px;
	border-top: 1px solid @color_ministry_border;
	&:first-child,
	&:nth-child(2) {
		border-top-color: transparent;
	}
	&:first-child,
	&:nth-child(2n + 1) {
		border-right: 1px solid #eee;
	}
}
.ministry-list.stacked .ministry {
	width: auto;
	float: none;
	border: 0 none;
	height: auto;
	display: block;
	color: #000;
	border-top: 1px solid @color_ministry_border;

	&:first-child,
	&:nth-child(2n + 1) {
		border-right: 1px solid @color_ministry_border;
	}
}

.ministry-contacts {
	.row {
		b {
			color: #666;
			display: block;
			float: left;
			margin-left: -4em;
		}
		padding-left: 4em;
	}
}

.ministry:hover {
	background-color: #e7e7e7;
}

.ministry_header {
	font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
	margin-bottom: 1em;
	max-height: 4.05em;
	line-height: 1.35;
	overflow: hidden;
}
.ministry-link {
	color: #000;
}



.ministryi {
	color: #858788;
	font-size: @font_size_normal_small;
	position: relative;
	margin-left: 19px;
	margin-top: 15px;
}

.ministryi:before {
	content: ' ';
	position: absolute;
	width: 20px;
	height: 20px;
	background-size: 14px;
	background: url('/images/ministry.png') 100% 100% no-repeat;
	background-size: cover;
	top:-4px;
	left:-22px;
}

.ministryi a {
	color: #858788;
	text-decoration: none;
}

.ministryi a:hover{
	color: #6e7071;
	text-decoration: underline;
}

.content.main .content-body {
	ul.content-index,
	ol.content-index  {
		padding-left: 0;
		li {
			display: block;
			padding-left: 0;
			text-indent: 0;
			&::before {
				display: none;
			}
		}
	}
}

.xmap {
	width: 100%;
	height: 441px;
	margin-top: 25px;
}

.contacts .row b {
	color: #666;
}

.filtered-materials-list .content-body {
	padding-bottom: 0;
}
.message {
	margin: 1em 0;
	padding: 1em;
}
.message.error {
	background-color: #FEE;
	color: #911;
}
.message.info,
.message.status {
	background-color: #F9F9F9;
}
.message.success {
	background-color: #FFE;
}
.subscribe-form.standalone .row {
	padding: 1em 0;
	overflow: hidden;
}
.subscribe-form.standalon label {
	display: block;
	float: left;
	margin-right: 1em;
	line-height: 40px;
}

.subscribe-form.standalon label,
.subscribe-form.standalon input {
	height: 40px;
}
.subscribe-form.standalon input {
	line-height: 22px
}
.extra-info {
	margin: 2em 0;
	font-size: @font_size_normal_small;
	color: #333;

}
.extra-info p,
.extra-info ol {
	margin: 1em 0;
}

.extra-info ol li {
	margin-bottom: 1em;
}

.omsulist_caption {
	padding-top: 29px;
	text-transform: uppercase;
}

.omsulist_info-top {
	overflow: hidden;
}
.vidjet_incontent {
	width: 310px;

	.vidjet_photo_content,
	.vidjet_video_content {
		margin: 30px 0 0 0;
	}
/*
	& + .content-text {
		padding-left: 310px;
	}
*/
}
.doclist-caption {
	/*padding:10px 0 10px 0;*/
	margin: 1em 0;
}
.xmedia.s289x196 {
	.image_container_icon_middle {
		padding: 70px 0 0 117px;
		width: 72px;
	}
	.image_container_middle {
		background-repeat: round;
		width: 290px;
		height: 193px;
		padding-bottom: 20px;
		display: block;
	}
}

.xmedia.image_container_middle.s290 {
	background-size: 100%;
	width: 290px;
	height: auto;
}

.news-list-wrapper .news-row .xmedia {
    float: left;
}

.vidget_photo_video.incontent {
	position: absolute;
	top: -30px;
}

.person_biography {
	.vidget_photo_video.incontent {
		top: -21px;
	}
}


.main_map {
	position: absolute;
	left: 360px;
	top:7px;
}

.m4_70_block .main_map {
	position: static;
}

.assist-hint {
	display: none;
}

.contacts_header {
	position: relative;
	background-color: #f5f5f5;
	height: 47px;
	color: #898a8a;
	border-bottom: 1px #c8c8c8 solid;
	top: 1px;
	line-height: 46px;
	text-align: left;
	font-size: (@font_size_normal + @font_size_normal_small) / 2 - 1px;
	font-weight: 100;
	.option {
		height: 47px;
		position:relative;
		vertical-align:top;
		display:-moz-inline-stack;
		display:inline-block;
		_overflow:hidden;
		zoom:1;
		*display:inline;
		padding-right: 30px;

		&.col-name {
			width: 330px;
		}
		&.col-contacts {
			width: 250px;
		}
		&.col-schedule {
		}
	}
}

.material_page_wrapper .material-system-data .material-regions {
	line-height: 25px;
}
.connected-materials .material a::after{
	content: ",";
}
.connected-materials .material a + a::before {
	content:" ";
}
.connected-materials .material a:last-of-type::after {
	content:"";
}
.m46_date {
    float: right;
    text-align: right;
    color: #959595;
    font-size: 11px;
}

.oiv-vacancy-list {
    .material_list_term {
        color: #959595;
        margin-top: 0;

        .date {
            color:#e8474c;
        }
    }
    .material_list_name {
        margin-bottom: 0;
    } 
}

a.material_list:hover .material_list_name {
    text-decoration: underline;
}

.governor_biography_header {
    min-height: 10px;
    height: auto; padding: 0 10px 10px 10px; display: inline-block; width: 665px;
    .xmedia {
        float: left;
        img {
            padding: 0;
			border: 1px solid #fff;
			-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
			-khtml-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
			-ms-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
			-o-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
			padding: 2px;
        }
        margin: 10px;
    }
}

@media(max-width:1195px) {
	.social-links {
		background-color: rgba(255, 255, 2550, 0.5);
		border-color: rgba(150, 150, 150, 0.5);
	}
}

@import "admin.less";
@import "print.less";

.imageintext {
	margin: 0 10px 10px 0;
}

