@font_size: @font_size_normal;

.xmedia + .outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media-textview {
  display: none;
  width: 100%;
  height: 100%;
  .box-sizing(border-box);
  padding: 8px;
  color: #FFF;
  word-break: break-all;
}

a.xmedia,
.xmedia a {
  text-decoration: none;
}
.xmedia {
  display: inline-block;

  &.s40x40 {
    width: 40px;
    height: 40px;
  }
  &.s50x50 {
    width: 50px;
    height: 50px;
  }
  &.s53 {
    width: 53px;
  }
  &.s58x49 {
    width: 58px;
    height: 49px;
  }
  &.s62 {
    width: 62px;
  }
  &.s64x64 {
    width: 64px;
    height: 64px;
  }
  &.s40x40,
  &.s50x50,
  &.s53,
  &.s58x49,
  &.s62,
  &.s64x64 {
    font-size: @font_size_small - 1px;
  }

  &.s80 {
    width: 80px;
  }
  &.s85 {
    width: 85px;
  }
  &.s100 {
    width: 100px;
  }
  &.s123x150 {
    width: 123px;
    height: 150px;
  }

  &.s124 {
    width: 124px;
  }
  &.s148 {
    width: 148px;
  }
  &.s151 {
    width: 151px;
  }
  &.s158 {
    width: 158px;
  }
  &.s80,
  &.s85,
  &.s100,
  &.s123x150,
  &.s124,
  &.s148,
  &.s151,
  &.s158 {
    .media-textview {
      font-size: @font_size_small;
    }
  }
  &.s187 {
    width: 187px;
  }
  &.s210 {
    width: 210px;
  }
  &.s211x211 {
    width: 211px;
    height: 211px;
  }
  &.s246x245 {
    width: 246px;
    height: 245px;
  }
  &.s272x199 {
    width: 272px;
    height: 199px;
  }
  &.s276 {
    width: 276px;
  }
  &.s276x155 {
    width: 276px;
    height: 155px;
  }
  &.s280 {
    width: 280px;
  }
  &.s282x185 {
    width: 282px;
    height: 185px;
  }
  &.s289x196 {
    width: 289px;
    height: 196px;
  }
  &.s290 {
    width: 290px;
  }
  &.s290x423 {
    width: 290px;
    height: 423px;
  }
  &.s292x120 {
    width: 292px;
    height: 120px;
  }

  &.s187,
  &.s210,
  &.s211x211,
  &.s246x245,
  &.s272x199,
  &.s276,
  &.s276x155,
  &.s280,
  &.s282x185,
  &.s289x196,
  &.s290,
  &.s290x423,
  &.s292x120 {
    .media-textview {
      font-size: @font_size_small + 1px;
    }
  }

  &.s317x280 {
    width: 317px;
    height: 280px;
  }
  &.s447x296 {
    width: 447px;
    height: 296px;
  }
  &.s610x120 {
    width: 610px;
    height: 120px;
  }
  &.s317x280,
  &.s447x296 {
    .media-textview {
      font-size: @font_size_small + 2px;
    }
  }
  &.s922 {
    width: 922px;
    height: 500px;
  }
}
