@import("defines.less");

@zindex_special_elements: @nav_zindex;

.block-focus-outline {
  .box-shadow(0 0 0 10px @color_special_focus_outline);
}
.link-focus-outline {
  .box-shadow(inset 0 0 0 1px @color_special_focus_outline);
}

.content-block.search-results .search-results-list .row .media-textview {
    display: none;
}

body.special {
  padding-top: 34px;
  background-image: none;
  background-color: @color_bg_contrast;
  font-size: @font_size;

  a,
  a:hover {
    color: @color_contrast;
    text-decoration: underline;
  }

  .mainpage_content .main_gprogs .governor-programm .caption {
    font-size: @font_size * 7 / 9;
  }

  .mainmenu {
    position: relative;
    width: 100%;
    /*height: 33px;	*/
    background-color: @color_mainmenu_bg_contrast;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    min-height: 0px;
    height: auto;

    .menu {
      position: relative;
      z-index: @nav_zindex;
      min-height: 0px;
      border-bottom: 1px solid #EEE;
    }

    a.option {
      height: 33px;
      display: inline-block;
      line-height: 33px;
      padding: 0 10px;
      position: relative;
      vertical-align: top;
      text-decoration: none;
      color: @color_mainmenu_contrast;
      font-family: @font_medium;

      &:hover,
      &:active,
      &.active,
      &.focus {
        background-color: @color_mainmenu_bg_focus_contrast;
        color: @color_mainmenu_focus_contrast;
      }
    }

    .icons,
    .language {
      float: right;
      display: block;
    }

    .icons {
      height: 100%;
      margin-right: 15px;
      padding-left: 10px;
      border-left: none /*1px solid #ddd*/;
      font-size: 0px !important;

      a {
        display: inline-block;
        width: 40px;
        height: 33px;
        font-size: 0px;
        background-image: url("@{path_images}topmenu1_icons.png");
        background-position: 0px 0px;
        background-repeat: no-repeat;
      }

      a:hover,
      a:active,
      a.active {
        background-color: #000;
      }

      a.bugtrack {
        background-position: -3px -4px;
      }
      a.search {
        background-position: -50px -4px;
      }
      a.glasses-mode {
        background-position: -95px -4px;
      }

      a.bugtrack:hover,
      a.bugtrack:active,
      a.bugtrack.active {
        background-position: -3px -45px;
      }
      a.search:hover,
      a.search:active,
      a.search.active {
        background-position: -50px -45px;
      }
      a.glasses-mode:hover,
      a.glasses-mode:active,
      a.glasses-mode.active {
        background-position: -95px -45px;
      }
    }

    .language {
      a {
        height: 33px;
        display: inline-block;
        line-height: 33px;
        padding: 0 10px;
        font-size: 12px;
        position: relative;
        vertical-align: top;
        text-decoration: none;
        color: #000;
        font-family: @font_medium;
      }

      a:hover,
      a:active {
        color: #fff;
        background-color: #000;
      }
    }
    &.focus {
      a.option.active {
        .link-focus-outline;
      }
    }
  }
  .header {
    z-index: @nav_zindex;
    &:hover {
      z-index: @nav_zindex_hover;
    }
  }
  .logo {
    position: relative;
    top: 31px;
  }
  .logo_text {
    top: 44px;
    width: 500px;
  }

  .secmenu_wrapper {
    padding-left: 0.9em;
  }

  .secmenu {
    width: 100%;
    position: absolute;

    min-height: @secmenu_height_fixed;
    height: @secmenu_height_fixed;
    background-color: @color_nav_bg_contrast;
    left: 0px;
    /*top: @mainmenu_height_fixed - @secmenu_offset_top;*/
    top: @secmenu_offset_top;
    margin-top: 0;//@secmenu_offset_top;

    .box-sizing(border-box);
    border: 1px solid @color_nav_border_contrast;
    background-image: none;

    .secmenu_wrapper > a.active::after {
      display: none;
    }

    &.fixed {
      position: fixed;
      /*z-index: @nav_zindex + 1;*/
      z-index: @nav_zindex_focus + 4;
      top: @mainmenu_height_fixed;
      width: 100%;
    }

    .option {
      width: auto;
      height: 44px;
      line-height: 44px;
      display: inline-block;
      .box-sizing(border-box);
      padding: 0 12px;
      font-size: @font_size_normal;
      color: @color_nav_contrast;
      background-color: @color_nav_bg_contrast;
      cursor: pointer;
      min-width: 35px;
      z-index: @zindex_secmenu_item;

      position: relative;
      vertical-align: top;
      /* display:-moz-inline-stack; */
      display: inline-block;
      _overflow: hidden;
      zoom: 1;
      *display: inline;

      &.active,
      &.focus,
      &:hover,
      &.smenu .option:hover {
        background-color: @color_nav_bg_focus_contrast;
        color: @color_nav_focus_contrast;
      }

      &.x-focus-anc {
        background-color: @color_nav_bg_focus_anchor_contrast;
        color: @color_nav_focus_anchor_contrast;
      }
    }
    &.focus a.option.active {
      .link-focus-outline;
    }

    .smenu {
      z-index: @zindex_secmenu_item;
      left: 0;

      .submenu_container,
      .submenu_container_long {
        border: 1px solid @color_nav_sub_border_contrast;
        border-top: 4px solid @color_nav_sub_border_highlight_contrast;
        background-color: @color_nav_sub_bg_contrast;

        a.option {
          width: 100%;
          display: block;
          color: @color_nav_sub_contrast;
          height: auto;
          border: 0 none;
          line-height: 24px;
          padding: 10px 12px;
          .box-sizing(border-box);

          &.active,
          &:hover,
          &.focus {
            color: @color_nav_sub_focus_contrast;
            background-color: @color_nav_sub_bg_focus_contrast;
          }
        }
        .option + .option {
          border-top: 1px solid #000;
        }
      }
    }
  }

  .mainmenu,
  .secmenu,
  .x-vmenu {
    .transition(background-color 0.25s linear);
  }
  &.nosecmenu .secmenu.fixed {
    top: @mainmenu_height_fixed;
  }
  .mainmenu {
    top: 0;
    position: fixed;
    z-index: @nav_zindex + 2;
    background-color: rgba(255, 255, 255, 0.95);
    height: @mainmenu_height_fixed;
  }
  .mainmenu.focus,
  .secmenu.focus,
  .x-vmenu.focus,
  .links-group.focus,
  .assist-hint.focus {
    .block-focus-outline;
  }
  div.x-vmenu.focus {
    .block-focus-outline;
    a.gover_option.active {
      .link-focus-outline;
    }
  }
  .x-focus-path {
    z-index: @nav_zindex_focus + 4;
    &.content {
      z-index: @nav_zindex - 1;
    }
  }
  .fixed {
    z-index: @nav_zindex_focus + 3;
    &.x-focus-path {
      z-index: @nav_zindex_focus + 5;
    }
  }

  .mainmenu.x-fixed-path {
    z-index: @nav_zindex_focus + 6;
  }
  .mainmenu.x-focus-path {
    z-index: @nav_zindex_focus + 7;
  }
  .header.x-fixed-path {
    z-index: @nav_zindex_focus + 6;
  }
  .header.x-focus-path {
    z-index: @nav_zindex_focus + 8;
  }
  .secmenu.focus {
    background-color: rgba(0, 0, 0, 0.9);
    border-color: @color_special_focus_outline;
    background-image: none;
  }
  .x-vmenu.focus {
    background-color: rgba(0, 0, 0, 0.9) !important;
  }

  .file_list_item::before {
    .background-size(contain);
  }

  .doubleblock.audio-list {
    /* padding: 30px 28px; */
    padding: 30px 0;
    /* @pages */
  }

  &.hidemedia {
    .media-content {
      display: none;
    }
    .media-textview,
    .content-block.search-results .search-results-list .row .media-textview {
      display: block;
    }
    .news-video::after {
      background-image: none;
      display: none;
    }
    .filtered-materials-list.photos_wrapper .news-row.has-photo {
      .news-photo {
        margin: 0 1em 1em 0;
        .box-shadow-none;
        max-width: 300px;
        .info {
          position: static;
          overflow: hidden;
          background-color: transparent;
          width: auto;
        }
        .icon {
          background-image: none;
          background-color: @color_media_placeholder_bg;
          padding: 8px;
        }
      }
    }
    .photo_big_author {
      text-shadow: none;
      color: #000;
      position: static;
    }

    .material_page_wrapper .photo_smallphotos {
      > div {
        margin: 0 1em 1em 0;
      }
      .s289x196 {
        width: 289px;
        height: 196px;
      }
    }
  }

  h1 + .content-text {
    padding-top: 0.25em;
  }
  &.hidesidebar {
    .content-text {
      line-height: 1.95;
      p {
        margin-bottom: 2.35em;
      }
    }
    table {
      width: 100%;
    }
  }
  table {
    font-size: @font_size;
    line-height: 1.5;
    table-layout: fixed;
  }
  td,
  th {
    word-break: break-all;
  }
  .content-text {
    line-height: 1.7;
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: none;
    p:empty {
      display: none;
    }
    p {
      margin-bottom: 2.15em;
    }
  }

  .doubleblock {
    .box-sizing(content-box);

    .doubleleft {
      border: 0 none;
      border-right: 1px solid @color_layout_border_contrast;
      margin-right: 0;
      width: 579px;
    }
    .doubleright {
      border: 0 none;
      padding-left: 25px;
    }
  }

  .omsulist_mapinfo {
    border: 0 none;
  }

  .content.main {
    .box-sizing(border-box);
    border: 1px solid #333;
  }

  .f_materials_1 .main_wrapper {
    margin-bottom: 0;
  }
  .ui-widget-content {
    background-color: #FFF;
  }
  .main_wrapper .news-row.has-photo .news-photo,
  .mainpage_content .main_gprogs .governor-programm {
    .box-shadow-none;
  }
  .mainpage_content .main_gprogs .governor-programm {
    border: 0 none;
    margin-right: 28px;
    margin-top: 7px;
  }
  div.doubleblock.banners {
    margin-bottom: 40px;

    div.doubleleft {
      margin-right: 28px;
      border-right: 0 none;
      width: auto;
    }
    .doubleright {
      display: block;
      width: 290px;
      overflow: hidden;
    }
    .doubleleft,
    .doubleright {
      border: 0 none;
      padding: 0;
    }
  }
  .contentblock.m1_gprogkar {
    border: 1px solid @color_layout_border_contrast;
    border-left: 0 none;
    border-right: 0 none;
    overflow: hidden;
    .main_gprogs {
      overflow: hidden;
    }
  }
  .filtered-materials-list .news-row.has-photo .news-photo {
    border: 0 none;
  }
  .m1_gprog {
    padding-top: 40px;
    border-top: 1px solid @color_layout_border_contrast;
  }
  .normalblock.main_groups_page {
    background-image: none;
    .box-sizing(border-box);
    border: 4px solid #FFF;
    background-color: #666;
    .border-radius(10px);
    &.active,
    &:hover {
      border-color: #000;
      background-color: #FFF;
    }
  }
  .double-column-left-item {
    border-left: 0 none;
  }
  .xmedia {
    background-color: @color_media_placeholder_bg;
    display: block;
    overflow: hidden;
    float: left;
    position: relative;
  }
  .block .video,
  .block .album {
    overflow: hidden;
  }
  .header #act_date,
  .header .subscription-block {
    top: 65px;
  }

  .main_wrapper,
  .omsu_news_wrapper,
  .material_page_wrapper,
  .omsu_main_wrapper,
  .omsu_villages_wrapper,
  .filtered-materials-list {
    .date-splitter:first-child {
      padding-top: 12px;
    }
  }
  .material_page_wrapper .doubleblock {
    padding: 0 28px;
    margin: 0;
  }
  .photo_big {
    overflow: hidden;
    margin-bottom: 1em;
  }

  .material_page_wrapper .photo_smallphotos {
    padding: 0;
    margin: 0;
  }
  .doubleblock {
    .box-sizing(border-box);
  }
  .photo_big .xmedia {
    width: 100%;
  }
  .photo_big + .nullblock {
    height: auto;
    width: auto;
    margin: 1em 0;
  }
  .material_page_wrapper .download-album-block .download {
    margin-top: 0;
    .box-sizing(border-box);
    background-color: #666;
    padding-left: 12px;
    padding-right: 12px;
  }
  .material_page_wrapper {
    .photo_big .photo_prev {
      left: 0;
    }
    .photo_big .photo_next {
      right: 0;
    }
    img {
      .box-shadow-none;
      border: 0 none;
    }
    .photo_smallphotos {
      .s289x196 {
        width: 289px;
        height: 196px;
      }
      div {
        margin: 0 1em 1em 0;
        img {
          .box-shadow-none;
          border: 0 none;
        }
      }
    }
  }
  .material_page_wrapper .photo_smallphotos {
    background-color: transparent;
    clear: left;
  }
  .audio-list time {
    float: right;
    font-size: (@font_size_normal_small + @font_size_normal) / 2;

    margin-top: 4px;
  }
  .file_list_item_small {
    &:hover {
      .xdate {
        text-decoration: none;
      }
    }
  }

  .file_list_item_small::before {
    .background-size(contain);
  }
  .content_selector_1 input.styler[type="text"] {
    border: 1px solid silver !important;
  }
  .text_material .block-doclist .bottom-link {
    color: @color_contrast;
    border-color: @color_btn_border_contrast;
    background-color: @color_bg_contrast;
  }

  .pages {
    display: inline-block;
    clear: both;
  }
  .page {
    background-color: #CCC;
    color: #FFF;
    /*text-decoration: none;*/
    &:hover {
      background-color: #000;
      color: #FFF;
    }
    &.disabled {
      color: #6b6b6b;
    }
    &.active {
      background-color: #000;
      color: #FFF;
      cursor: default;
    }
  }
  .material_list {
    width: auto;
  }
  .material_list_content {
    padding: 0;
  }
  .material_list_line {
    width: 100%;
  }
  .main_wrapper,
  .omsu_news_wrapper,
  .material_page_wrapper,
  .omsu_main_wrapper,
  .omsu_villages_wrapper,
  .filtered-materials-list {
    .breadcrumbs a {
      color: #000;
    }
  }
  .bigcalend_event {
    background-color: #333;
  }
  .rkicons {
    word-break: break-all;
  }
  .block-omsu-map h2 {
    float: none;
  }
  .omsulist_news_data {
    color: @color_contrast;
  }
  .new_style_link,
  .omsulist_news_name a,
  .votings_all {
    text-decoration: underline;
  }
  .votings_all,
  .new_style_link:hover {
    color: @color_contrast;
  }
  .new_style_link:active {
    background-color: @color_bg_contrast;
    border-color: @color_btn_border_contrast;
  }
  .omsulist_news_name a:hover {
    color: #666;
  }
  .block .xmedia {
    margin-bottom: 1em;
  }
  .block .album .xmedia,
  .block .video .xmedia {
    margin-bottom: 0;
  }
  .material_page_wrapper .news-photos-microgallery .photo_big {
    .photo_prev,
    .photo_next {
      background-image: url(/images/restyled/carousel-arrows-contrast.png);
    }
  }
  .content.main {
    ul li {
      display: list-item;
      list-style: circle inside;
      text-indent: -34px;
      padding-left: 34px;

      &::before {
        background-image: none;
        content: "";
        display: none;
      }
    }

    .block-banners-slider li.banner {
      list-style: none none;
      text-indent: 0;
      padding-left: 0;
    }

    &.f_materials_4 {
      border-width: 0;
      .content-block {
        margin-right: 0;
      }
    }
  }

  .main_wrapper,
  .omsu_news_wrapper,
  .material_page_wrapper,
  .omsu_main_wrapper,
  .omsu_villages_wrapper,
  .filtered-materials-list {
    .news-row,
    .vacancy-row {
      .news-region,
      .news-title,
      .news-keywords,
      .vacancy-region,
      .vacancy-keywords,
      .vacancy-title {
        a {
          text-decoration: underline;
        }
        a,
        span {
          color: @color_contrast;
        }
        a:focus,
        a.focus {
          color: #FFF;
          background-color: @color_link_bg_focus_contrast;
        }
      }
    }
  }
  .main_wrapper,
  .omsu_news_wrapper,
  .material_page_wrapper,
  .omsu_main_wrapper,
  .omsu_villages_wrapper,
  .filtered-materials-list {
    .news-row,
    .vacancy-row {
      .news-title,
      .vacancy-title,
      .vacancy-row,
      .news-title {
        a:active,
        a:hover {
          color: @color_link_hover_contrast;
        }
      }
    }
  }
  .main_wrapper,
  .omsu_news_wrapper,
  .omsu_main_wrapper,
  .omsu_villages_wrapper,
  .filtered-materials-list {
    .jq-selectbox__select-text {
      color: @color_dim_contrast;
    }
  }
  .datepicker table.datepickerViewDays .datepickerDays td a {
    color: @color_contrast;
    text-decoration: underline;
  }
  .block-region-filter .region-link {
    font-size: @font_size_normal - 2px;
    &:active,
    &:hover {
      color: @color_contrast;
      text-decoration: underline;
    }
  }
  .omsu_news_wrapper,
  .material_page_wrapper,
  .omsu_villages_wrapper,
  .omsu_vacancies_wrapper,
  .filtered-materials-list {
    .all-news {
      text-decoration: underline;
      &:hover {
        border-color: @color_contrast;
      }
    }
    .all-news:hover,
    .all-news:active {
      color: @color_contrast;
      background-color: @color_bg_contrast;
    }
    .all-news:focus,
    .all-news.focus {
      background-color: @color_btn_bg_focus_contrast;

    }
    .all-news:focus,
    .all-news.focus {
      border-color: @color_btn_border_focus_contrast;
      color: @color_btn_focus_contrast;
    }
  }
  #ajax_paginator_btn {
    &:hover {
      border-color: @color_contrast;
    }
    &:active,
    &:hover {
      color: @color_contrast;
      background-color: @color_bg_contrast
    }
    &:focus,
    &.focus {
      background-color: @color_btn_bg_focus_contrast;
    }
    &:focus,
    &.focus {
      color: @color_btn_focus_contrast;
      border-color: @color_btn_border_focus_contrast;
    }
  }
  .main_wrapper,
  .omsu_documents_wrapper {
    .document-row {
      .download {
        text-decoration: underline;
      }
    }
  }
  .main_wrapper,
  .omsu_news_wrapper,
  .material_page_wrapper,
  .omsu_main_wrapper,
  .omsu_villages_wrapper,
  .filtered-materials-list {
    .date-splitter {
      a:hover,
      a:active {
        color: @color_contrast;
      }
    }
  }
  .block-doclist .doc {
    a {
      text-decoration: underline;
    }
    a:hover,
    a:active {
      color: @color_contrast;
    }
  }
  .main_wrapper,
  .omsu_documents_wrapper {
    .document-row {
      .download:hover,
      .download:active {
        .document-name {
          color: @color_contrast;
        }
      }
    }
  }

  #ajax_paginator_btn.link-btn:hover,
  div.content .link-btn:hover {
    border-color: @color_contrast;
    color: @color_contrast;
  }
  #ajax_paginator_btn.link-btn:hover,
  .bottom-link.link-btn:hover {
    background-color: @color_bg_contrast;
    text-decoration: underline;
  }
  .main_wrapper,
  .omsu_documents_wrapper {
    .document-row {
      .download {
        &:hover,
        &:active {
          .icon {
            background-position: 0px -72px;
          }
        }
      }
    }
  }
  .download_all:hover,
  .download_all:active {
    background-position: 0px -72px;
  }
  .omsu_news_wrapper,
  .material_page_wrapper,
  .omsu_villages_wrapper,
  .omsu_vacancies_wrapper,
  .filtered-materials-list {
    .menu.tabs a {
      color: #333;
      &.active {
        color: @color_contrast;
      }
    }
  }
  &.button.submit,
  &.new_style_link,
  #ajax_paginator_btn.link-btn,
  .link-btn {
    font-size: (@font_size_normal + @font_size_normal_small) / 2 + 1px;
  }
  #ajax_paginator_btn.link-btn,
  .link-btn {
    display: block;
    box-sizing: border-box;
    text-decoration: underline;

    line-height: 1.5;
    height: 2.5em;/* height: 44px; */
    padding: ((@font_size_normal + @font_size_normal_small) / 4) 0.75em;

    border: 1px solid #CCC;
    background-color: #FFF;

    width: 100%;
    max-width: none;/*300px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;

    &:active,
    &:hover,
    &.albums_all:active,
    &.albums_all:focus,
    &.videos_all:active,
    &.videos_all:focus,
    &.votings_all:active,
    &.votings_all:focus,
    &.button.submit:active,
    &.button.submit:focus {
      color: @color_contrast;
      background-color: #FFF;
      border-color: @color_border_contrast;
    }
    &.button.submit,
    &.new_style_link {
      text-decoration: underline;
      color: #CCC;
      border-color: #CCC;
    }
  }
  .block-voting .button.link-btn {
    background-color: #FFF;
  }
  .new_style_link {
    color: #CCC;
  }
  .znew_style_link
  .znew_style_link:active {
    border-color: @color_border_contrast;
  }
  #tabs ul {
    li.tab-link {
      display: inline-block;
      text-indent: 0;
      padding-left: 6px;
      padding-right: 6px;
      a {
        color: @color_dim_contrast;
      }
      &.active a {
        color: @color_contrast;
      }
    }
  }
  .f_materials_4_65_241 .ui-tabs-nav {
    margin-bottom: 0px;
  }
  .omsulist a:hover {
    color: @color_contrast;
  }
  a:focus {
    background-color: @color_link_bg_focus_contrast;
  }
  .main_wrapper,
  .omsu_news_wrapper,
  .material_page_wrapper,
  .omsu_main_wrapper,
  .omsu_villages_wrapper,
  .filtered-materials-list {
    .jq-selectbox__dropdown ul {
      padding: 2px;
    }
  }
  .jq-selectbox li:hover {
    background-color: @color_bg_highlight_contrast;
  }
  .content_selector_1 {
    font-size: 15px;
  }
  .doubleblock {
    .doubleleft {
      width: 595px;
      border-right: 0 none;
    }
    .doubleright {
      border-left: 1px solid #DDD;
    }
  }
  .m4_70_block .doubleblock {
    .doubleleft {
      border-right: 1px solid @color_layout_border_contrast;
    }
    .doubleright {
      border-left: none;
    }
  }
  .governor-speech-index {
    .main_quote_link {
      color: @color_dim_contrast;
      .quote-text {
        text-decoration: underline;
      }
      &:hover {
        color: @color_dim_contrast;
      }
    }
  }
  .speech-items {
    a {
      color: @color_dim_contrast;
      text-decoration: underline;
      &:hover {
        color: @color_dim_contrast;
      }
    }
    .link-all a {
      color: #FFF;
    }
  }
  .councils-element,
  .commissions-element,
  .coordinate-element {
    a {
      font-size: 16px;
      color: #000;
      text-decoration: underline;
    }
  }
  #councils-header,
  #commissions-header,
  #coordinate-header {
    font-size: 28px;
  }
  .congratulations-list-element-name a {
    text-decoration: underline;
    font-size: @font_size;
    &:hover {
      color: @color_contrast;
    }
  }
  .councils-element, .commissions-element {
    margin-bottom: 1em;
  }
  .text_material .block-doclist .doc {
    line-height: 1.5;
    padding: 0;
    margin-bottom: 1.5em;
  }
  .main_wrapper,
  .omsu_documents_wrapper {
    .document-row {
      .download {
        margin: 0;
        padding: 0;
      }
    }
  }

  .print a {
    text-decoration: underline;
    color: @color_dim_contrast;
    &:hover {
      color: @color_dim_contrast;
      text-decoration: none;
    }
  }
  .governor-header {
    margin-bottom: 0;
    border-top: 2px solid #000;
    margin-left: 0;
    background-color: #FFF;
  }
  #governor-header-right-date {
    color: @color_contrast;
  }
  #governor-header-right-name a {
    color: @color_contrast;
    text-decoration: underline;
  }
  .vidget_photo_content {
    .vidget_name {
      text-decoration: underline;
    }
  }
  .connected-materials .material a {
    color: @color_dim_contrast;
  }
  .connected-materials .material {
    a:hover,
    a:active,
    &:hover span.title,
    &:active span.title {
      color: @color_dim_contrast;
    }
  }
  .connected-materials {
    .material,
    .material-type-41,
    .material-type-162 {
      background-position: 10px 15px;
    }
  }

  .widget-news-link {
    margin: 20px 0 0 30px;
  }
  .widget-news-link a {
    padding: 8px 10px;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    background: #787576;
    cursor: pointer;
    background-color: @color_btn_bg_contrast;
  }
  .widget-news-link a,
  .widget-news-link-blue a {
    text-decoration: underline;
  }

  .widget-news-link a:hover {
    color: #ffffff;
    background-color: @color_btn_bg_focus_contrast;
  }

  .widget-news-link-blue {
    margin: 0 0 25px 15px;
  }

  .widget-news-link-blue a {
    padding: 8px 10px;
    font-size: 13px;
    color: @color_btn_contrast;
    cursor: pointer;
    background-color: @color_btn_bg_contrast;
  }
  .widget-news-link-blue a:hover {
    color: @color_btn_focus_contrast;
    background-color: @color_btn_bg_focus_contrast;
    .box-shadow(0 0 0 1px @color_btn_border_focus_contrast);
  }
  .widget-news-link-blue a {
    color: @color_btn_contrast;
  }

  .block-left-sidebar {
    overflow: visible;
    .sidebar {
      border-right: 1px solid @color_layout_border_contrast;
      background-color: #000;
      border-left-color: @color_layout_border_contrast;
      border-top-color: @color_layout_border_contrast;
      margin-left: -268px;
      margin-top: -1px;
/*      min-height: 260px;*/

      .gover_option {
        color: #FFF;
        padding: 10px 10px 10px 28px;
        min-height: 0;
        width: auto;

        &:hover,
        &.focus,
        &.active {
          background-color: @color_nav_bg_focus_contrast;
          color: @color_nav_focus_contrast;
        }
      }
    }
  }

  .header #act_date p a,
  .header .subscription-block p a {
    color: #000;
  }

  .material_list {
    text-decoration: none;
  }
  .material_list:hover .material_list_name {
    color: @color_contrast;
  }
  .material_list_name,
  .material_list:hover .material_list_name {
    text-decoration: underline;
  }
  .photo_list {
    color: #FFF;
    text-decoration: none;
    &:hover {
      color: #000;
    }
  }
  .block-left-sidebar .sidebar .sidebar-info {
    border-right: none;
  }
  .block-left-sidebar {
    line-height: 1.4;
  }
  .sidebar-info {
    line-height: 1.5;
  }
  .content.main ul li {
    padding-left: 1.6em;
    text-indent: -0.9em;
    margin-bottom: 1em;
  }

  ul,
  ol {
    margin-bottom: 1.5em;
  }

  #admin_panel {
    z-index: 100;
  }
  a.news-photo {
    text-decoration: none;
  }
  .crumbs-wrap {
    padding-right: 70px;
    background-color: @color_crumbs_bg_contrast;
  }
  .crumbs-wrap {
    a.focus,
    a:active,
    a:hover {
      background-color: @color_crumbs_bg_focus_contrast;
      color: @color_crumbs_focus_contrast;
    }
    &.fixed {
      position: fixed;
      top: @mainmenu_height_fixed + @secmenu_height_fixed;
      height: @crumbs_height;
      .box-sizing(border-box);
      .transform(translateX(-18px));
      border-right: 1px solid @color_layout_border_contrast;
      border-bottom: 1px solid @color_layout_border_contrast;
    }
    &.focus {
      .block-focus-outline;
      a.active {
        .link-focus-outline;
      }
    }
  }
  &.nosecmenu .crumbs-wrap.fixed {
    top: @mainmenu_height_fixed;
  }
  .breadcrumbs ~ .x-vmenu-container .x-vmenu.fixed {
    top: @mainmenu_height_fixed + @secmenu_height_fixed + @crumbs_height + @secmenu_vborder_size;
  }
  &.nosecmenu .breadcrumbs ~ .x-vmenu-container .x-vmenu.fixed {
    top: @mainmenu_height_fixed + @crumbs_height;
  }
  .content-index.focus {
    .block-focus-outline;
  }
  .content-index.focus {
    a.focus,
    a:focus {
      color: @color_content_link_focus_contrast;
      background-color: @color_content_link_bg_focus_contrast;
    }
  }
  .pages.focus {
    .block-focus-outline;
    .page.active {
      .link-focus-outline;
    }
    .page.focus {
      color: @color_crumbs_link_focus;
      background-color: @color_crumbs_link_bg_focus;
    }
  }
  &.hidemedia {
    .governor_biography_header .xmedia {
      margin-right: 1em;
    }
  }

  &.hidesidebar {
    .doubleblock {

      .doubleleft {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        padding-left: 0;/* 28px;*/
        padding-right: 0; /*28px; */
        margin-left: 0;
        margin-right: 0;
        border-left: none;
        border-right: none;
        &.mini,
        &.mini + .doubleleft {
          padding: 0;
        }
      }
      .doubleright {
        display: none;
      }
    }
    .news_wrapper .doubleblock .doubleleft {
      padding-left: 0;
      padding-right: 0;
    }
    .content.f_materials_1 .doubleleft {
      border-right: none;
    }
    .mainpage_content .m1_gprog h2 {
      border-bottom: none;
    }
  }
  .content.f_materials_1 .doubleleft {
    border-right: 1px solid @color_layout_border_contrast;
  }
  .content.f_materials_1 .doubleright {
    border-left: none;
  }
  .mainpage_content {
    .m1_topban {
      display:none;

      border: 0 none;
      border-bottom: 1px solid @color_layout_border_contrast;

      .main_news {
        .option .tab-label {
          .text {
            display: block;
            height: 40px;
            overflow: hidden;
            line-height: 20px;
          }
        }

        .option:hover,
        .option.active,
        .option.active:hover {
          background-color: #000;
          &::after {
            background: url("@{path_images}main_news_arrow-contrast.png") 50% 50% no-repeat;
          }
        }
      }
    }
  }
  .omsulist_logo .xmedia {
    background-color: transparent;
  }
  .block-banners-slider .banner-dots a:hover,
  .block-banners-slider .banner-dots a:active,
  .block-banners-slider .banner-dots a.active {
    background-color: @color_contrast;
  }
  #vote_form .jq-radio.checked,
  .block-voting .jq-radio.checked {
    .box-shadow(inset 0 0 0 1px @color_contrast);
    background-image: url("@{path_images}/radio-checked-contrast.png");
  }
  a.xmedia,
  .xmedia a {
    text-decoration: none;
  }
  .material_page_wrapper .material-system-data .data-item {
    height: 25px;
    line-height: 25px;
    margin-right: 15px;
  }
  .block-doclist .link-btn {
    float:left;
    width: auto;
    font-size: @font_size_normal;
    height: 2em;
    line-height: 1.5;
  }
  .toggle-hint {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;

    z-index: @zindex_special_elements;
    top: 35px;
    text-align: center;
    line-height: 18px;
    right: @assist_toggle_hint_offset_right;
    font-size: 14px;
    color: #000;
    background-color: #FFF;
    .box-shadow(0 0 0 1px rgba(0,0,0,0.5));

  }
  &.assist-showhint .toggle-hint {
    .box-shadow-none;
    background-color: #000;
    color: #FFF;
  }
  .content-documents {
    line-height: 1.5;
  }
  &.fontsize-big .assist-hint {
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
      line-height: 1.15;
    }
    .inner {
      font-size: @font_size_big_small - 2px;
      line-height: 1.45;
    }
  }
  &.fontsize-small .assist-hint {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
    }
  }
  .assist-hint {
    display: none;
    padding: 1em 8px 1em 1em;
    font-size: 14px;
    line-height: 1.5;
    background-color: #FFF;
    border: 1px solid @color_border_contrast;

    /*position: absolute;
    top: 206px + @secmenu_vborder_size;
    */
    position: fixed;
    top: @mainmenu_height_fixed;
    z-index: @zindex_assist_hint;

    right: 0;
    background-color: rgba(255,255,255,0.95);

    &.fixed {
      position: fixed;
      right: 0;
      /*
      z-index: 200;
      top: 155px
      */
    }

    .inner {
      max-width: 280px;
      max-height: 600px;
      padding-right: 12px;
      box-sizing: border-box;
      overflow-y: auto;
      background-color: #FFF;
    }

    p,
    ul,
    ol,
    pre {
      margin-bottom: 2em;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    ul,
    ol {
      padding-left: 20px;
    }
    ul li {
      list-style-type: square;
    }
    li {
      margin-bottom: 1em;
    }
    kwd {
      font-family: monospace;
    }
    kwd,
    em {
      padding: 1px 4px;
      border: 1px solid #CCC;
    }
    em {
      font-style: normal;
      font-weight: bold;
    }
    .close {
      display: inline-block;
      margin: 1em;
      width: auto;
      border: 1px solid #CCC;
      padding: 4px 8px;
      float: right;
    }
  }
  &.assist-showhint {
    .assist-hint {
      display: block;
    }
  }
  &.assist-showhint.assist-hint-fixed {
    .social-links,
    .on-top {
      opacity: 0.1;
      pointer-events: none;
    }
  }
  .assist-fontsize {
    right: @assist_fontsize_offset_right;
  }
  .assist-color {
    right: @assist_color_offset_right;
  }
  .assist-fontsize,
  .assist-color {
    width: 128px;
    position: absolute;

    font-size: 12px;
    line-height: 24px;
    vertical-align: bottom;
    .label {
      font-weight: bold;
    }
  }

  .assist-color {
    top: 41px;
    margin-left: 84px;
    .label {
      line-height: 25px;
    }
  }

  &.color-normal .assist-color .normal,
  &.color-inverted .assist-color .inverted,
  &.color-calm .assist-color .calm {
    box-shadow: 0 0 2px 2px rgba(255,180,0,0.75);
    pointer-events: none;
  }

  &.fontsize-normal .assist-fontsize .links a.normal,
  &.fontsize-big .assist-fontsize .links a.big,
  &.fontsize-small .assist-fontsize .links a.small {
    background-color: #000;
    color: #FFF;
    pointer-events: none;
  }

  .assist-fontsize {
    margin-left: 230px;
    top: 38px;

    .label,
    .links-wrapper {
      line-height: 24px;
    }
    .links-wrapper {
      width: auto;
      display: inline-block;
    }
    .links {

    }
    .links a {
      padding: 2px 6px;
    }
    .links .small {
      font-size: 12px;
    }
    .links .normal {
      font-size: 18px;
    }
    .links .big {
      font-size: 24px;
    }
    .label {
      font-size: 12px;
      font-weight: bold;
    }
  }
  .assist-color {
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;

    .label {
      line-height: 20px;
      display:inline-block;
    }
    .color-select {
      vertical-align: middle;
      display: inline-block;
    }
    a {
      display: inline-block;
      line-height: 20px;
      margin: 0 4px;

      width: 16px;
      height: 16px;
      border: 2px solid;

      .border-radius(4px);
      &.normal {
        background-color: #FFF;
        border-color: #000;
      }
      &.inverted {
        background-color:#000;
        border-color:#FFF;
        .box-shadow(0 0 0 1px rgba(0,0,0,0.5));
      }
      &.calm {
        background-color: #9dd1ff;
        border-color: #063462;
      }
    }
  }
  .assist-toggle {
    position: absolute;
    right: @assist_toggle_offset_right;
    font-size: 12px;
    text-align: right;
  }
  .assist-toggle .label {
    font-weight: bold;
  }
  .assist-toggle a {
    text-decoration: none;
    padding: 2px;
    &:hover {
      background-color: @color_nav_bg_focus_contrast;
    }
  }
  &.assist-showhint .toggle-hint a {
    background-color: @color_bg_contrast;
    color: @color_contrast;
  }
  .toggle-media {
    top: 35px;
  }
  &.nohidemedia .toggle-media .toggle-on,
  &.hidemedia .toggle-media .toggle-off,
  &.nohidesidebar .toggle-sidebar .toggle-on,
  &.hidesidebar .toggle-sidebar .toggle-off {
    background-color: @color_bg_focus_contrast;
    color: @color_focus_contrast;
  }
  .toggle-sidebar {
    top: 50px;
  }

  .ministry_header {
    font-size: @font_size_normal;
    margin-bottom: 1em;
    max-height: 2.5em;
    line-height: 1.25;
    overflow: hidden;
  }
  .ministry_contacts {
    font-size: @font_size_normal - 2px;
    line-height: 1.45;
    .row b {
    }
  }

  &.fontsize-small {
    @import("fontsize_small.less");
  }

  &.fontsize-big {
    @import("fontsize_big.less");
  }
  .announces_wrapper {
    .news-row {
      .news-title,
      .news-announce {
        line-height: 1.5;
        margin-bottom: 1em;
      }
    }
  }
  .jq-selectbox__select {
    text-shadow: none;
  }

  #vote_form .submit-blue-button {
    color: @color_contrast;
    background-color: @color_bg_contrast;
    border: 1px solid @color_btn_border_contrast;
    line-height: 18px;
  }

  div.content div.governor-body .doubleleft .column-header {
    border-bottom: 1px solid @color_layout_border_contrast;
  }

  .kraiflag {
    display: none;
  }

  hr {
    margin: 0.5em 0;
  }
  #search {
    z-index: 250;
    color: @color_contrast;
    background-color: @color_bg_contrast;
  }
  #search-form .field .searchtext-field {
    line-height: 1.15;
  }
  #search-form .field .search-submit {
    border: 1px solid @color_btn_border_contrast;
    border-right: none;
  }
  #search-form .field {
    border-color: @color_btn_border_contrast;
  }
  .content-block.search-results .search-query-title  {
    padding-top: 30px;
    margin-top: 30px;
    border: 1px solid @color_btn_border_contrast;
  }
  #date_dialog.modal .apply-filter {
    border: 1px solid @color_btn_border_contrast;
    bottom: 37px;
    cursor: pointer;
  }
  .datepickerContainer .datepickerGoPrev a,
  .datepickerContainer .datepickerGoNext a {
    cursor: pointer;
    text-decoration: none;
  }
  .content.f_materials_60 {
    background-color: @color_bg_contrast;
  }

  .main_wrapper,
  .omsu_documents_wrapper {
    .ui-tabs {
      .document-row .download {
        padding-top: 4px;
        padding-bottom: 4px;
        overflow: hidden;
        .document-name {
          line-height: 1.5;
        }
        .document-extension-and-size {
          float: right;
        }
      }
    }
  }
  .mainmenu .menu {
    border-color: @color_layout_border_contrast;
  }
  .iconsline {
    display: none;
  }
  .block-submenu {
    a.sub-option {
      background-color: @color_bg_outstanding_contrast;
    }
    a.option,
    a.sub-option {
      :hover,
      :active,
      .active {
        background-color: @color_bg_focus_contrast;
      }
    }
  }
  .material_page_wrapper .material-system-data .data-item {
    height: 33px;
  }
  .material_page_wrapper .material-system-data .material-time .status {
    padding: 3px 9px;
  }
  .material_page h1.fixed {
    position: static;
    background-color: @color_bg_calm;
  }
  .material_page_wrapper .bigcalend_header .photo_next {
    right: -9px;
  }
  .material_page_wrapper .bigcalend_header .photo_prev {
    left: -11px;
  }

  .bigcalend th {
    color: @color_focus_contrast;
    background-color: @color_bg_focus_contrast;
  }
  .bigcalend_event {
    color: @color_contrast;
    background-color: @color_bg_outstanding_contrast;
  }

  .bigcalend_header-evcnt {
    color: @color_contrast;
  }

  .doubleleft.mini {
    width: 285px;
    margin-right: 25px;
  }

  .main_wrapper,
  .omsu_news_wrapper,
  .material_page_wrapper,
  .omsu_main_wrapper,
  .filtered-materials-list {
    .news-row,
    .vacancy-row {
      .vacancy-valid {
        line-height: 1.75;
      }
    }
  }

  .material_page_wrapper .bigcalend_header .photo_prev {
    background-image: url("/img/photoarrbig_prev-contrast.png");
  }
  .material_page_wrapper .bigcalend_header .photo_next {
    background-image: url("/img/photoarrbig_next-contrast.png");
  }
  .block-submenu {
    border-color: @color_layout_border_contrast;
  }
  .xtabs {
    height: @font_size * 3 + 2px;
  }
  .xtabs ul li.tab-link {
    display: inline-block;
    padding: 1em;
    text-indent: 0;
    text-align: center;
    line-height: 1;
    height: @font_size * 3 + 2px;
    font-size: @font_size;
    margin-bottom: 0;
  }
  .news_wrapper.single-list .news-row {
    border-color: @color_layout_border_contrast;
  }

  div.datepickerContainer td {
    border: none;
  }

  .datepicker table.datepickerViewDays td,
  .datepicker table.datepickerViewDays th {
    border-bottom: 1px solid @color_layout_border_contrast;
  }
  .datepicker table.datepickerViewDays td.datepickerNotInMonth {
    border-bottom: none;
  }
  .main_wrapper,
  .omsu_news_wrapper,
  .material_page_wrapper,
  .omsu_main_wrapper,
  .omsu_villages_wrapper,
  .filtered-materials-list {
    .doubleleft .filter-values .filter-value {
      background-color: @color_bg_contrast;
      border-color: @color_layout_border_contrast;
      color: @color_contrast;
    }
  }
  .main_wrapper,
  .omsu_news_wrapper,
  .material_page_wrapper,
  .omsu_main_wrapper,
  .omsu_villages_wrapper,
  .filtered-materials-list {
    .doubleleft .filter-values .filter-value {
      .remove-filter-value,
      .filter-remove-link {
        background-image: none;
        text-decoration: none;
        color: @color_contrast;
        &::before {
          content:"×";
        }
      }
    }
  }
  .header,
  .subscription-block
  #act_date {
    p a:hover {
      text-decoration: none;
    }
  }
  .optionwr {
    position: relative;
    z-index: 1;
    &.x-focus-anc,
    &:hover {
      z-index: @zindex_secmenu_item + 1;
    }
  }
  .crumbs-wrap.fixed {
    white-space: nowrap;
    width: 100%;
    height: 37px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    a {
      text-overflow: ellipsis;
    }
  }
  .breadcrumbs {
    /* height: 63px; */
  }

  .standart_shablons__main,
  .f_materials_1,
  .standart_shablons__omsu_news_list {
    .main_wrapper,
    .omsu_news_wrapper,
    .material_page_wrapper,
    .omsu_main_wrapper,
    .omsu_villages_wrapper,
    .filtered-materials-list {
      padding-bottom: 0;
    }
    &.content.main {
      margin-bottom: 0;
      .doubleblock {
        padding-bottom: 0;
        .doubleleft {
          padding-bottom: 50px;
          margin-bottom: 0;
          padding-right: 20px;
          width: 575px;
          border-right: 1px solid /*@color_layout_border_contrast */;
        }
        .doubleright {
          padding-top: 0;
          border-left: none;
        }
      }
    }
    .contentblock.sights {
      margin-right: 0;
      width: 100%;
      border: none;
      padding-top: 0;
    }
    .movientcontentitemtext-wrap {
      padding: 0;
    }
  }
  .f_materials_1,
  .standart_shablons__main {
    &.content.main .doubleblock .doubleright {
      padding-top: 32px;
    }
  }
  .standart_shablons__omsu_news_list.content.main .doubleblock .doubleright {
    margin-top: -16px;
  }

  .main_regions {
    border-right: none;
  }
/*
  .menu001 {
      border-left: none;
      background-color: #000;
      color: #FFF; 
  }
  .gover_option {
      &.active {
          color: #000;
          background-color: #FFF; 
      }
      &:hover {
          background-color: #FFF;
          color: #000;
      }
      + .gover_option {
        border-top: 1px solid #000;
      }
  }
    .f_materials_6_46_90_223 h1 {
        padding-left: 12px;
    }
*/
    .item002.contentblock {
        padding: 0;
        border: none;
        width: 660px;
    }

  .breadcrumbs .crumbs-wrap {
      margin-left: 0;
  }

  &.xprint {
    @import("special_print.less");
  }

  &.color-inverted {
    @import("color_inverted.less");
  }
  &.color-calm {
    @import("color_calm.less");
  }
}

.x-vmenu.fixed {
  position: fixed;
  top: @mainmenu_height_fixed + @secmenu_height_fixed + @secmenu_vborder_size;
  z-index: @nav_zindex;
  .box-shadow(0 0 25px 5px rgba(155,155,155,0.5));
}
body.nosecmenu .x-vmenu.fixed {
  top: @mainmenu_height_fixed;
}
@import("special_media.less");

@media (max-height: 999px) {
  body.special {
    .block-left-sidebar .sidebar {
      max-height: 560px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

@media (max-height: 899px) {
  body.special {
    .block-left-sidebar .sidebar {
      max-height: 400px;
    }
  }
}
@media (max-height: 599px) {
  body.special {
    .block-left-sidebar .sidebar {
      max-height: 300px;
    }
  }
}
