.section-admission-places {
  padding: 50px 0 70px;
  background-color: $patternDarkColor;
  color: #fff;

  @include maxWidth(740) {
    padding: 30px 0 50px;
  }

  &__wrap-content {
    @extend %layout-row-sb-start;

    @include maxWidth(740) {
      flex-flow: wrap;
    }
  }

  &__left-side {
    width: 47%;

    @include maxWidth(740) {
      width: 100%;
    }
  }

  &__right-side {
    width: 47%;

    @include maxWidth(740) {
      width: 100%;
    }
  }

  &__quote {
    margin-top: 50px;

    @include maxWidth(740) {
      margin-top: 30px;
    }
  }
}

.count-admission-places-item {
  @extend %layout-row-start;

  margin-top: 40px;

  &:first-child {
    margin-top: 30px;
  }

  &__unit {
    width: 150px;
    margin-top: 0;
    padding-right: 40px;
    color: rgba(255, 255, 255, 0.54);
    text-align: right;

    @include maxWidth(740) {
      width: 88px;
      padding-right: 20px;
    }
  }

  &__wrap-title {
    width: 460px;
  }

  &__count {
    margin-top: 10px;
  }
}

.quote-author {
  @extend %layout-row-start-center;

  margin-top: 50px;

  @include maxWidth(740) {
    margin-top: 30px;
  }

  &__img {
    border-radius: 10px;
  }

  &__wrap-title {
    margin-left: 28px;
  }

  &__post {
    margin-top: 10px;
  }
}
