.contentblock {
  box-sizing: content-box;

  .table-bootstrap th {
    color: #fff !important;
  }

  .wrap-table {
    overflow: visible;
  }
}

.adminTitle {
  font-size: 26px;
}

.adminSubtitle {
  font-size: 22px;
}

.container-fluid {
  font-size: 14px;
}

.admin-nav-bar-site-version {
  height: 40px;
  padding: 5px;
  float: right;
  color: #fff;
  line-height: 16px;

  @include maxWidth(1100) {
    display: none;
  }
}

#cboxContent .wrap-table {
  overflow: visible;
}

.mce-fullscreen {
  z-index: 1001 !important;
}

#dropzone {
  display: inline-block;
  width: 120px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  border: 0;
  border-radius: 4px;
  background-color: #ebeaf8;
  background-image: url('/img/filedropzone.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}

.addedFile {
  display: inline-block;
  width: 120px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  overflow: hidden;
  border: 1px solid #c8c3eb;
  border-radius: 4px;
  background-color: #fff;
}

.nullblock {
  position: relative;
  width: 0;
  height: 0;
}

.fileDel {
  position: absolute;
  top: 2px;
  left: 104px;
  width: 13px;
  height: 13px;
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
