.btn-show-more {
  display: block;
  width: 100%;
  margin-top: 40px;
  padding: 14px;
  transition: 0.2s ease;
  border: 2px solid #eaecf0;
  border-radius: 4px;
  color: $grayColor;
  font-family: 'RalewayMedium', sans-serif;
  text-align: center;

  &:hover {
    border-color: $patternLinkColor;
    background-color: $patternLinkColor;
    color: #fff;
  }

  &--page-audio {
    width: 874px;

    @include maxWidth(980) {
      width: 100%;
    }
  }
}

.btn-up-page {
  display: flex;
  position: fixed;
  z-index: 90;
  top: 200px;
  left: 30px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  opacity: 0;
  background-color: #e8eaed;

  &__icon {
    width: 30px;
    height: 30px;
    margin: auto;
    fill: #a4abb4;
  }

  &:hover {
    background-color: $patternLinkColor;

    .btn-up-page__icon {
      fill: #fff;
    }
  }
}

.btn-print {
  display: inline-block;
  margin-top: 16px;

  &__icon {
    width: 28px;
    height: 28px;
    fill: $grayColor;
    vertical-align: middle;
  }

  &:hover {
    .btn-print__icon {
      fill: $patternLinkColor;
    }
  }

  @include break1140 {
    margin-top: 12px;
  }

  @include break960 {
    display: none;
  }
}

.link-download {
  &--audio-files {
    margin-left: 10px;
    vertical-align: middle;

    @include maxWidth(980) {
      display: none;
    }
  }

  &__text {
    display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
  }

  &__icon {
    width: 25px;
    height: 21px;

    &--audio-files {
      fill: #fff;
    }

    &--attachment {
      width: 18px;
      height: 16px;
      fill: $grayColor;
      vertical-align: middle;
    }
  }

  &--attachment {
    display: inline-block;
    margin-top: 8px;
    color: $grayColor;

    &:hover {
      .link-download__icon {
        fill: $patternLinkColor;
      }

      .link-download__text {
        color: $patternLinkColor;
      }
    }
  }
}

.show-more-link {
  display: inline-block;
  color: $patternLinkColor;

  &:hover {
    color: $patternLightColor;
  }

  &--sidebar {
    margin-top: 30px;
  }

  &--sidebar-news {
    margin-top: 20px;
  }

  &--frontpage {
    margin-top: 30px;
  }

  &--admission-places {
    display: inline-block;
    margin: 40px 0 0 150px;
    padding: 14px 40px;
    transition: background-color 0.2s ease;
    border-radius: 4px;
    background-color: $patternSecondaryColor;
    text-align: center;

    &:hover {
      background-color: $patternLinkColor;
      color: #fff;
    }

    @include maxWidth(1300) {
      margin-left: 136px;
    }

    @include maxWidth(1160) {
      margin-left: 118px;
    }

    @include maxWidth(980) {
      margin-left: 100px;
    }

    @include maxWidth(740) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.action-print-btn {
  float: right;
  text-decoration: underline;

  @include specVersion {
    display: none;
  }

  &:hover {
    text-decoration: none;
  }
}

