.wrap-useful-links-carousel {
  position: relative;
  padding: 0 40px;
}

.useful-links-carousel {
  margin-top: 50px;
}

.useful-links-carousel-item {
  padding: 0 20px;
  text-align: center;

  &__wrap-img {
    @extend %layout-row-center;

    display: inline-flex;
    width: 100%;
    height: 100px;
    filter: grayscale(1);
  }

  &__title {
    margin-top: 8px;
  }

  &__link:hover {
    color: $patternLinkColor;
  }
}

.useful-links-carousel-arrow {
  position: absolute;
  z-index: 2;
  top: calc(50% - 24px);
  width: 40px;
  height: 48px;
  cursor: pointer;

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  &__icon {
    width: 40px;
    height: 48px;
    fill: #cdcac8;
  }

  &:hover .useful-links-carousel-arrow__icon {
    fill: $patternLinkColor;
  }
}
