.section-education-programs {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #f6f6f6;

  &__wrap-content {
    @extend %layout-row-sb-start;

    flex-flow: wrap;
  }

  &__column {
    width: 290px;
    margin-top: 40px;

    @include maxWidth(1300) {
      width: 245px;
    }

    @include maxWidth(1160) {
      width: 47%;
    }

    @include maxWidth(560) {
      width: 100%;
    }
  }

  &__link {
    color: $patternLinkColor;

    &:hover {
      color: $patternLightColor;
    }
  }
}
