.footer {
  margin-top: 60px;

  &__top {
    padding: 10px 0 40px;
    background-color: #f5f2f0;
  }

  &__menu {
    @extend %layout-row-sb-start;

    flex-flow: wrap;
  }

  &__menu-column {
    width: 30%;

    @include break960 {
      width: 45%;
    }

    @include break960 {
      width: 100%;
    }
  }

  &__menu-title {
    margin-top: 30px;
  }

  &__link:hover {
    color: $patternLinkColor;
  }

  &__bottom {
    padding: 32px 0;
    background-color: $patternDarkColor;
    color: #fff;
  }

  &__bottom-wrap-content {
    @extend %layout-row-sb-center;

    @include break960 {
      flex-direction: column;
    }
  }
}

.vertical-links-list {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;

  &__item {
    margin-top: 14px;
    color: $grayColor;
    font-family: 'RalewayMedium', sans-serif;
    //font-size: 16px;

    @include break960 {
      font-size: 14px;
    }
  }
}

.copyright {
  &__wrap-logo {
    display: inline-block;
    vertical-align: middle;

    @include break960 {
      display: block;
      text-align: center;
    }
  }

  &__logo {
    width: 80px;
  }

  &__text {
    display: inline-block;
    width: 446px;
    margin-left: 24px;
    vertical-align: middle;

    @include break960 {
      display: block;
      width: 100%;
      margin-top: 14px;
      margin-left: 0;
      text-align: center;
    }
  }
}

.social-links {
  &__item {
    width: 24px;
    height: 24px;
    margin-right: 7px;

    &--header {
      fill: #fff;

      &:hover {
        fill: $patternLightColor;
      }
    }

    &--footer {
      fill: #fff;

      &:hover {
        fill: $patternLightColor;
      }
    }
  }

  &--header {
    margin-left: 32px;

    @include break1490 {
      display: none;
    }
  }

  &--footer {
    @include break960 {
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }
  }

  &--mobile-menu-item {
    display: none;
    margin-top: 20px;

    @include break960 {
      display: block;
    }
  }
}

.developer-link {
  &__logo {
    display: inline-block;
    width: 75px;
    height: 35px;
    fill: #fff;
    vertical-align: top;
  }

  &__text {
    display: inline-block;
    margin-top: 16px;
    margin-left: 4px;
    vertical-align: top;
  }

  @include break960 {
    display: none;
  }

  &:hover {
    color: #fff;
  }
}
