.gallery-item {
  margin-bottom: 24px;

  &__title {
    width: 435px;
    margin-top: 10px;
    font-family: 'PTMonoRegular', sans-serif;
    font-size: 15px;

    @include maxWidth(435) {
      width: 100%;
      font-size: 13px;
    }
  }

  &__overlay-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__wrap-img {
    position: relative;
    font-size: 0;
    cursor: zoom-in;

    &:hover {
      .gallery-item__overlay-img {
        opacity: 1;
      }
    }
  }
}

.main-content a.image-popup-no-margins:hover {
  border: none;
}
