.person-section-title {
  margin-top: 40px;

  @include maxWidth(1160) {
    margin-top: 30px;
  }

  @include maxWidth(560) {
    margin-top: 20px;
  }
}

.person-item {
  @extend %layout-row-start;

  align-items: flex-start;
  margin-top: 20px;

  &__image {
    border-radius: 30px;

    @include maxWidth(560) {
      width: 100px;
    }
  }

  &__wrap-text {
    margin-left: 30px;

    @include maxWidth(560) {
      margin-left: 20px;
    }
  }

  &__title {
    margin-top: 12px;
    font-family: 'RalewaySemiBold', sans-serif;
  }

  &__post {
    margin-top: 10px;
  }

  &__description {
    margin-top: 10px;
  }

  &__contacts {
    margin-top: 10px;
    color: $grayColor;
  }
}
