.news-list-item {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid $grayColor;

  @include maxWidth(540) {
    margin-top: 30px;
    padding-top: 10px;
  }

  &__label {
    margin-top: 20px;
  }

  &__date {
    margin-top: 20px;
  }

  &__description {
    margin-top: 20px;
  }
}
