.promo-section {
  position: relative;
  height: 640px;
  padding-top: 164px;
  background-repeat: no-repeat;
  background-size: cover;

  @include maxWidth(980) {
    height: 490px;
    padding-top: 84px;
  }

  @include maxWidth(740) {
    height: 398px;
  }

  @include maxWidth(560) {
    height: 398px;
    padding-top: 58px;
  }

  &__blackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__wrap-content {
    position: relative;
    color: #fff;
  }

  &__split-description {
    width: 224px;
    height: 3px;
    margin-top: 98px;
    background-color: #fff;

    @include maxWidth(980) {
      margin-top: 75px;
    }

    @include maxWidth(740) {
      margin-top: 75px;
    }

    @include maxWidth(560) {
      margin-top: 48px;
    }
  }

  &__description {
    margin-top: 20px;
    line-height: 1.3;
  }
}
