.sidebar {
  width: 290px;

  @include break1140 {
    display: none;
  }

  &__adverts {
    margin-top: 40px;
    padding-left: 16px;
    border-left: 4px solid $patternLightColor;
  }

  &__news {
    margin-top: 40px;
    padding: 30px 24px;
    background-color: #f6f6f6;
  }

  &__title-news {
    margin-top: 0;
  }

  &__news-item {
    margin-top: 20px;
  }

  &__news-item-title {
    margin-top: 6px;
  }

  &__news-item-date {
    color: $grayColor;
  }

  &__news-item-link:hover {
    color: $patternLinkColor;
  }
}

.material-info {
  padding: 24px;
  border: 1px solid #eaecf0;
}

.material-info-item {
  position: relative;
  margin-top: 20px;
  color: $grayColor;

  &:first-child {
    margin-top: 0;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    fill: #bcc1cb;
    vertical-align: top;
  }

  &__text {
    padding-left: 40px;
    line-height: 1.3;
  }

  &__link {
    color: $patternLinkColor;

    &:hover {
      border-bottom: 1px solid $patternLinkColor;
      color: $patternLinkColor;
    }
  }
}
