@import '../common/mixins.scss';

.body {
  font-size: 19px;
}

.title {
  font-size: 52px;

  @include break1280 { font-size: 48px; }
}

.subtitle-5 {
  font-size: 46px;
}

.subtitle-4 {
  font-size: 42px;

  @include break1140 { font-size: 38px; }
}

.subtitle-3 {
  font-size: 40px;

  @include break1140 { font-size: 36px; }
}

.subtitle-2 {
  font-size: 28px;

  @include break1140 { font-size: 24px; }
}

.subtitle-1 {
  font-size: 22px;

  @include break1140 { font-size: 21px; }
}

.body-4 {
  font-size: 26px;

  @include break1140 { font-size: 24px; }
}

.body-3 {
  font-size: 20px;
}

.body-2 {
  font-size: 18px;
}

.body-1 {
  font-size: 16px;
}

.label-2 {
  font-size: 20px;
}

.label-1 {
  font-size: 16px;
}

.mono-text {
  font-size: 16px;
}

blockquote {
  font-size: 20px;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 42px;

  @include break1140 { font-size: 38px; }
}

h4 {
  font-size: 36px;

  @include break1140 { font-size: 34px; }
}

h5 {
  font-size: 28px;

  @include break1140 { font-size: 24px; }
}

h6 {
  font-size: 22px;

  @include break1140 { font-size: 20px; }
}

table {
  font-size: 16px;
}

.header__menu--additional > li > a {
  font-size: 15px;
}

.header__phone-text {
  @include maxWidth(1510) {
    display: none;
  }
}
