@import '../common/mixins.scss';

.body {
  font-size: 20px;
}

.title {
  font-size: 56px;

  @include break1280 { font-size: 52px; }
}

.subtitle-5 {
  font-size: 50px;
}

.subtitle-4 {
  font-size: 46px;

  @include break1140 { font-size: 42px; }
}

.subtitle-3 {
  font-size: 44px;

  @include break1140 { font-size: 40px; }
}

.subtitle-2 {
  font-size: 32px;

  @include break1140 { font-size: 28px; }
}

.subtitle-1 {
  font-size: 26px;

  @include break1140 { font-size: 24px; }
}

.body-4 {
  font-size: 30px;

  @include break1140 { font-size: 28px; }
}

.body-3 {
  font-size: 24px;
}

.body-2 {
  font-size: 20px;
}

.body-1 {
  font-size: 20px;
}

.label-2 {
  font-size: 22px;
}

.label-1 {
  font-size: 18px;
}

.mono-text {
  font-size: 18px;
}

blockquote {
  font-size: 22px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 46px;

  @include break1140 { font-size: 42px; }
}

h4 {
  font-size: 40px;

  @include break1140 { font-size: 38px; }
}

h5 {
  font-size: 28px;

  @include break1140 { font-size: 28px; }
}

h6 {
  font-size: 26px;

  @include break1140 { font-size: 24px; }
}

table {
  font-size: 17px;
}

.header__menu--additional > li > a {
  font-size: 16px;
}

.header__phone-text {
  @include maxWidth(1570) {
    display: none;
  }
}
